{% extends 'staticpages/about.html' %}
{% load static %}


{% block text %}
    <article>
        <div class="remove-whitebox-padding">
            <img src="{% static 'img/about/vago.jpg' %}" class="center-block img-responsive art-img" width="100%">
        </div>
        <h1>Griffens Orden</h1>
        <p style="text-align: center; max-width: 48em; margin: auto">
            Griffens Orden består av de medlemmer som har gjort seg verdige å utnevnes til Ridder av Griffens Orden.
            Utnevnelsen går til hybrider som har utmerket seg i sitt arbeid for linjeforeningen, eller studieprogrammet
            Ingeniørvitenskap og IKT. Hybriden må ha innhatt ekstraordniært engasjement og initiativ, samt vist stor
            glede
            av å ytre Hybridas formål og verdier.
        <br><br>
            Utnevnelsen vedtas av Vokterne av Griffens Orden, et råd bestående av høyst åtte aktive hybrider,
            med minimum et medlem per årskull. Vokterne står fritt til å utføre høyst tre utnevnelser hvert år. Ingen
            styremedlemmer fra Hybridas hovedstyre kan sitte i rådet og vokterne tar selv inn nye medlemmer når dette er
            nødvendig.
        <br><br>

            Alle medlemmer av Hybrida kan nominere kandidater til utnevnelsen <a href="https://www.tinyurl.com/RidderAvGriffensOrden">her</a>.

            <br><br>
            Ønsker man mer direkte kontakt med Vokterne kan de nås på email via <a href="mailto:vago@hybrida.no">vago@hybrida.no</a>
        </p>
    </article>

    <div class="container" style="text-align: center; max-width: 40em; margin: auto">
        <h3 style="color: #005675">2016</h3>

        <a data-toggle="collapse" href="#AndreaMarieFestøy"><h2> Andrea Marie Festøy</h2>
        </a>
        <div id="AndreaMarieFestøy" class="collapse">
            <i>Avgangsår: 2018</i> <br>
            <p> Denne personen har imponert stort med sitt arbeid i både styret og komitéer. Vedkommende har bidratt
                langt utover det som kan forventes både i og utenfor sine verv. Dette er en sprudlende person som alle
                vet hvem er og som til stadighet inviterer til nach. Hun har utmerket seg med eksepsjonell innsats i
                flere fadderperioder, tatt gode grep som leder, laget strikkemønster og styrt bedkom på en måte vi ikke
                har sett siden Frans. Hva hun ikke kan få til til og hvor hun finner tiden er det ingen som vet. Det er
                en ære for oss å tildele denne utmerkelsen til Hybridas evige Duracell-kanin.
            </p>
        </div>

        <a data-toggle="collapse" href="#ThereseTorgersen"><h2>Therese Torgersen</h2>
        </a>
        <div id="ThereseTorgersen" class="collapse">
            <i>Avgangsår: 2017</i>
            <p> Denne personen startet sin lange Hybridakarriere i fosterstilling på en flåte nedover Nidelva.
                Vedkommende fulgte opp med å organisere 1 og ½ fadderperiode samt et halvt jubileum. Ved å ta på seg
                verv både som festivalus og redaktør på én gang viste hun at hun er i stand til å ta på seg mye, ta på
                seg alt, og litt ekstra. Vi i VAGO har aldri sett denne personen gi slipp på én eneste mulighet til å
                arrangere noe som helst. Hun tar initiativ, hun tar ansvar, hun fikser alt og tross sin usedvanlig høye
                alder har hun rundet det meste som er av linjeforeninger, og vist oss alle sine herlige pupper. Denne
                utmerkelsen går til vår alles Mammar Gaddafi.
            </p>
        </div>

        <h3 style="color: #005675">2014</h3>

        <a data-toggle="collapse" href="#OleMagnusUrdahl"><h2> Ole Magnus Urdahl</h2>
        </a>
        <div id="OleMagnusUrdahl" class="collapse">
            <i>Avgangsår: 2014</i> <br>
            <p> Det er én person i Hybrida som absolutt alle vet hvem er. Til alle dere hybrider som har
                møtt opp i dag vil jeg si: Det er DERE som gjør at han har det bra. Det er DERE som gjør at han
                aldri er sur. Det er DERE som har latt han gjøre hybrida til en så fantastisk og inkluderende
                linjeforening. Det er DERE som aldri får nok av han. Denne personen har vært faddergruppeleder, 2 *
                William Wallace, nestleder, leder og dirigent i De Ubehagelige Høye. Han får allikevel ikke denne
                utmerkelsen på grunn av 2 år i styret. Han får den på grunn av det fantastiske miljøet han har skapt
                i Hybrida, for sitt fantastiske humør, for å være den mest inkluderende personen siden krigen og
                fordi det ikke finnes en person innenfor bygrensa med mer Mojo. Selv etter sitt utenlandsopphold
                forsetter han å engasjere seg, noe sittende styre har fått merke. Det er en stor glede å tildele
                denne utmerkelsen til vår alles, Ole Magnus “J” Urdahl!
            </p>
        </div>

        <a data-toggle="collapse" href="#ToneWermundsen"><h2> Tone Wermundsen</h2>
        </a>
        <div id="ToneWermundsen" class="collapse">
            <i>Avgangsår: 2014</i>
            <p> Denne personen var svært aktiv under sine verv både som faddersjef og festivallus. Hvis
                dere har vært på Hybridas Nyttårsball, så er det takket være denne personen. Hun startet det nemlig
                allerede da halvparten av dere nettopp hadde begynt på videregående. Gjennom vervet som festivallus
                var
                hun en viktig pådriver for å få skrevet kontrakt med Marin angående Kjelleren, noe som var en viktig
                start på den senere overtakelsen. Det ryktes også at hun fikk Marin til å betale hele ⅔ av beløpet
                da
                hun ville gi Kjelleren en skikkelig oppussing. På tampen av sitt studie har hun også klart å kuppe
                styringen av Avkom, og jobber med å få til en så bra avslutning for 5.klasse som overhodet mulig. Om
                du
                tenger hjelp til noe er det ingen som gjør det med et større smil om munnen enn Tone Wermundsen!
            </p>
        </div>

        <a data-toggle="collapse" href="#MariusHansenRøed"><h2> Marius Hansen Røed</h2>
        </a>
        <div id="MariusHansenRøed" class="collapse">
            <i>Avgangsår: 2014</i> <br>
            <p>
                Det er ikke alle som er like fremtredende som andre, og det er ikke alle som det
                forventes like
                mye av som andre. Den neste kandidaten har ikke vært med i styret, men der stopper det også med ting
                han
                ikke har gjort. Kandidaten har blitt anerkjent av Frans Erstad som en av de beste i Bedkom, han står
                for alt
                av design på Hybridas nettside gjennom webkom, han arrangerer avslutningsfest for 5. klasse gjennom
                Avkom,
                han har reddet utallige hybrider fra å stryke i Java gjennom kurs sammen med Sigurd Holsen og
                Kristian Våge,
                han tør virkelig å si styret i mot, han har klart mesterstykket å bli storvokter i Voktere av
                Griffens Orden
                og etter å ha vært stud.ass i Industriell IKT i en liten mannsalder vet alle på I&IKT hvem han er.
                Hadde det
                ikke vært for hans samtidige engasjement i NTNUI, hadde han sannsynligvis klart å få gjort enda mer,
                Marius
                Røed!
            </p>
        </div>


        <h3 style="color: #005675">2013</h3>


        <a data-toggle="collapse" href="#SigurdAndreasHolsen"><h2> Sigurd Andreas Holsen</h2>
        </a>
        <div id="SigurdAndreasHolsen" class="collapse">
            <i>Avgangsår: 2015</i><br>
            <p>
                Neste utmerkelsen går til en person som gjennom sitt arbeid for Hybrida, har bidratt
                til
                nyutvikling, nytenkning og engasjement for Hybridas IKT. Personen har brukt utallige timer både på
                sitt
                arbeid for linjeforeningen, og på å utvikle andres ideer og kunnskap. Han blir sett på som en
                uvurdelig
                ressurs og en stor inspirasjon for hele Hybridas IKT. Som vevsjef klarte han det 2 vevsjefer ikke
                klarte før
                han; Nemlig å gi Hybrida en ny fresh hjemmeside. Og med kåringen "kullets partyløve" bak seg, bidrar
                han
                også til mer, enn bare IKT. Det er en stor glede å tildele denne utmerkelsen til Sigurd Andreas
                Holsen.
            </p>
        </div>

        <a data-toggle="collapse" href="#SigbjørnAukland"><h2> Sigbjørn Aukland</h2>
        </a>
        <div id="SigbjørnAukland" class="collapse">
            <i>Avgangsår: 2015</i><br>
            <p>
                Helt til sist vil vi gi en utmerkelse til en som har vært veldig synlig i Hybrida de siste
                årene. Han har har vært med i BedKom, men de fleste har nok merket mest til innsatsen hans i styrevervet
                han
                har hatt. Han er alltid full av ville påfunn, og han får også mange av dem gjennomført. Kanskje er det
                derfor jubileet vårt også har blitt så stort og flott som det har vært, med en festivalus som virkelig
                har
                benyttet seg av ArrKom, og gjort de til en enda bedre komité. Man kan dessuten ikke komme utenom at han
                bidro stort til at Hybrida endelig fikk sin egen kjeller...og mistet den igjen på grunn av et uhell med
                en
                gummihanske. Heldigvis får vi kjelleren tilbake om en måned. Kveldens siste utmerkelse går til
                rabbagasten
                som aldri blir kastet ut av et utested, han blir bare bedt om å gå, Sigbjørn Aukland!
            </p>
        </div>

        <a data-toggle="collapse" href="#TeodorElstad"><h2>Teodor Elstad</h2>
        </a>
        <div id="TeodorElstad" class="collapse">
            <i>Avgangsår: 2014</i>
            <p>
                I gode gamle dager var Update^k en sammenstiftet papirblekke. Men det var en av oss som hadde
                større planer. Nå er Update^k blitt det som man kan kalle et skikkelig blad, takket være denne personen.
                Men
                det stopper ikke der. Det er godt mulig at mange av dere har valgt I&IKT nettopp på grunn av innsatsen
                denne
                personen har gjort for rekrutteringen til studieprogrammet. Han har bidratt til å gi oss en
                rekrutteringsfilm, fräshet opp beskrivelsen av studieprogrammet og faktisk vært engasjert i jentedagen.
                Selveste Ole Ivar har til og med ytret at “det er få studenter vi har hatt større nytte av enn Teodor
                Elstad”.
            </p><br>
        </div>


        <a data-toggle="collapse" href="#MarianneHønsi"><h2>Marianne Hønsi</h2>
        </a>
        <div id="MarianneHønsi" class="collapse">
            <i>Avgangsår: 2014</i>
            <p>
                Ingen Hybrid har noen gang elsket Linjeforeningen Hybrida mer enn denne personen. Gjennom sitt
                styreverv som Skattmester og senere Leder har hun hatt en stor rolle i å knytte vennskap mellom Hybrida
                og
                andre linjeforeninger, da spesielt Manhulittene. Hun er kjent for å ha drevet med aktiv rekruttering og
                markedsføring for ”NTNUs kuleste linjeforening”, og da snakker vi til og med om stavangerfester hvor
                folk
                knapt nok vet hva Gløshaugen er. Men alle vet hvem Hybrida er etter en kveld ute med Marianne Hønsi.
            </p><br>
        </div>

        <a data-toggle="collapse" href="#FransErstad"><h2>Frans Erstad</h2>
        </a>
        <div id="FransErstad" class="collapse">
            <i>Avgangsår: 2013</i>
            <p>
                Den neste utmerkelsen går til en person som, til tross for en heller uelegant entre inn i
                Styret, har fått til utrolig mye. Denne tidligere redaktøren av Update^k klarte etter en lang kamp med
                nebb
                og klør å bli sjef for Bedriftskommiteen, og det skal vi alle være veldig glade for. Bedkom har aldri
                stått
                like sterkt som det gjør nå, i stor grad takket være denne personen. I tillegg til sitt engasjement i
                Bedkom
                og Update^k har han vært viktig for oppstarten av I&IKT-ringen, og han har alltid vært til stor hjelp
                for de
                som står fast på oppgavene sine på lesesalen.
            </p><br>
        </div>

        <a data-toggle="collapse" href="#StigKjemperud"><h2>Stig Kjemperud</h2>
        </a>
        <div id="StigKjemperud" class="collapse">
            <i>Avgangsår: 2010</i>
            <p>
                Neste utmerkelse går til en virkelig «stayer» i Hybrida. Personen arbeidet for Hybrida fra 1. –
                4. klasse, selvom personen etterhvert måtte ta den lange veien opp og ned til Tyholt. Personen steg
                raskt i
                gradene i Hybrida, og gikk fra å være ett ordinært Bedkom-medlem, til å være (den gang) skattmester i
                Bedkom, for så å bli Skattmester i Hybrida sitt hovedsyre. Han var (u)ansvarlig initativtager, trener og
                primus motor av Hybrida FK i flere år, samt pådriver og en del av gjengen som tok iniativ til å innføre
                kilten. Han hang på alle styrefestene lenge etter hans tid i styre, for han kunne jo ikke si farvell til
                Smørekopp og EMIL jentene. Det er en store glede å tildele neste utmerkelse til Stig Kjemperud!
            </p><br>
        </div>

        <a data-toggle="collapse" href="#DanielAase"><h2>Daniel Aase</h2>
        </a>
        <div id="DanielAase" class="collapse">
            <i>Avgangsår: 2010</i>
            <p>
                Før i tiden kunne fadderperioden være en relativt uorganisert affære. Den neste utmerkelsen går
                til en kar som gjennom sitt engasjement som faddersjef, og senere Festivalus, fikk orden på dette.
                Fadderbarna hadde bare å falle inn i rekkene, ellers fikk de med en brautende bergenser med svart belte
                i
                karate å gjøre. I tillegg til å vise et stort engasjement for Hybrida, viste han også et tilsvarende
                stort
                hat for Kjemi, og gjorde gjennom sitt verv som SPR kort prosess med dette fagets framtid på I&IKT. Det
                var
                tydeligvis ikke ALT som var bedre før, så noen små forandringer måtte til. Den neste utmerkelsen går
                selvfølgelig til Daniel Aase.
            </p><br>
        </div>

        <a data-toggle="collapse" href="#IvarMarthinusen"><h2>Ivar Marthinusen</h2>
        </a>
        <div id="IvarMarthinusen" class="collapse">
            <i>Avgangsår: 2011</i>
            <p>
                Hvis det er tre ord som kan beskrive oss hybrider, så er det øl, kilt og muskler. Det liker vi
                selv å tro, i alle fall. Våren 2009 kom det et forslag fra en sporty hybrid om å kombinere disse tre, i
                det
                som vi nå kjenner som Hybrida Games. Dette ble starten på en tradisjon som studentene med en gang tok
                til
                hjertet, og som fortsatt lever i beste velgående. Hvem kan vel motså fristelsen til å løpe rundt i kilt,
                drikke øl og kaste tømmerstokker, økser og ølfat?
            </p><br></div>

        <a data-toggle="collapse" href="#ChristofferLange"><h2>Christoffer Lange</h2>
        </a>
        <div id="ChristofferLange" class="collapse">
            <i>Avgangsår: 2007</i>
            <p>
                Begrunnelse: Selv om I&IKT har eksistert på Gløshaugen i 10 år nå, er det fortsatt ikke alle som kjenner
                til
                oss. Nevner du navnet “Hybrida”, derimot, er det langt flere som vet hva det er snakk om. I tillegg til
                å
                være et velklingende navn som er lett å huske, er det også utrolig passende for studieretningen. Den
                neste
                utmerkelsen går til mannen som, i tillegg til å komme på navnet vårt, har vært en engasjert IKTer siden
                begynnelsen. Ryktene sier at han er en ekte trønder i sjelen, selv om han er født og oppblåst i Bærum.
                Christoffer Lange!
            </p><br></div>

        <a data-toggle="collapse" href="#TorChristianSandø"><h2>Tor Christian Sandø</h2>
        </a>
        <div id="TorChristianSandø" class="collapse">
            <i>Avgangsår: 2007</i>
            <p>
                (Første kjøleskapsjef) Vi har fått høre at Hybridas historie startet som smått med
                Badekarpadlingen i 2002 med en livlig gjeng som blant annet stjal terrormidlene sine fra Indøk. Det er
                også
                blitt fortalt at disse hybridene, etter en legendarisk fest på Singsaker Studenthjem våren 2003, lagde
                et
                provisorisk linjeforeningsstyre før Hybrida ble en realitet med slagordet «Hybrida – ad infinitum».
                Disse
                hybridene har vært med å startet gode tradisjoner som lånepils på Naboen og opptak med
                katapultkonkurranse.
                I tillegg har de vært med på å skape gode forhold til de andre «søster»-linjene ved IVT. Det er også
                herfra
                vi har fått vår gode sofa på kontoret, og våre fine hatter.
            </p><br></div>

        <a data-toggle="collapse" href="#EirikHaar"><h2>Eirik Haar</h2>
        </a>
        <div id="EirikHaar" class="collapse">
            <i>Avgangsår: 2007</i>
            <p>
                (Satt i første styret) Vi har fått høre at Hybridas historie startet som smått med
                Badekarpadlingen i 2002 med en livlig gjeng som blant annet stjal terrormidlene sine fra Indøk. Det er
                også
                blitt fortalt at disse hybridene, etter en legendarisk fest på Singsaker Studenthjem våren 2003, lagde
                et
                provisorisk linjeforeningsstyre før Hybrida ble en realitet med slagordet «Hybrida – ad infinitum».
                Disse
                hybridene har vært med å startet gode tradisjoner som lånepils på Naboen og opptak med
                katapultkonkurranse.
                I tillegg har de vært med på å skape gode forhold til de andre «søster»-linjene ved IVT. Det er også
                herfra
                vi har fått vår gode sofa på kontoret, og våre fine hatter.
            </p><br></div>

        <a data-toggle="collapse" href="#MartheAlmeland"><h2>Marthe Almeland</h2>
        </a>
        <div id="MartheAlmeland" class="collapse">
            <i>Avgangsår: 2007</i>
            <p>
                (Første PRsjef) Vi har fått høre at Hybridas historie startet som smått med Badekarpadlingen i
                2002 med en livlig gjeng som blant annet stjal terrormidlene sine fra Indøk. Det er også blitt fortalt
                at
                disse hybridene, etter en legendarisk fest på Singsaker Studenthjem våren 2003, lagde et provisorisk
                linjeforeningsstyre før Hybrida ble en realitet med slagordet «Hybrida – ad infinitum». Disse hybridene
                har
                vært med å startet gode tradisjoner som lånepils på Naboen og opptak med katapultkonkurranse. I tillegg
                har
                de vært med på å skape gode forhold til de andre «søster»-linjene ved IVT. Det er også herfra vi har
                fått
                vår gode sofa på kontoret, og våre fine hatter.
            </p><br></div>


        <a data-toggle="collapse" href="#EirinMohnLem"><h2>Eirin Mohn Lem</h2>
        </a>
        <div id="EirinMohnLem" class="collapse">
            <i>Avgangsår: 2007</i>
            <p>
                (Første næringslivskontakt) Vi har fått høre at Hybridas historie startet som smått med
                Badekarpadlingen i 2002 med en livlig gjeng som blant annet stjal terrormidlene sine fra Indøk. Det er
                også
                blitt fortalt at disse hybridene, etter en legendarisk fest på Singsaker Studenthjem våren 2003, lagde
                et
                provisorisk linjeforeningsstyre før Hybrida ble en realitet med slagordet «Hybrida – ad infinitum».
                Disse
                hybridene har vært med å startet gode tradisjoner som lånepils på Naboen og opptak med
                katapultkonkurranse.
                I tillegg har de vært med på å skape gode forhold til de andre «søster»-linjene ved IVT. Det er også
                herfra
                vi har fått vår gode sofa på kontoret, og våre fine hatter
            </p><br></div>

        <a data-toggle="collapse" href="#MariusFlemLunde"><h2>Marius Flem Lunde</h2>
        </a>
        <div id="MariusFlemLunde" class="collapse">
            <i>Avgangsår: 2007</i>
            <p>
                (Første festivalus) Vi har fått høre at Hybridas historie startet som smått med
                Badekarpadlingen i 2002 med en livlig gjeng som blant annet stjal terrormidlene sine fra Indøk. Det er
                også
                blitt fortalt at disse hybridene, etter en legendarisk fest på Singsaker Studenthjem våren 2003, lagde
                et
                provisorisk linjeforeningsstyre før Hybrida ble en realitet med slagordet «Hybrida – ad infinitum».
                Disse
                hybridene har vært med å startet gode tradisjoner som lånepils på Naboen og opptak med
                katapultkonkurranse.
                I tillegg har de vært med på å skape gode forhold til de andre «søster»-linjene ved IVT. Det er også
                herfra
                vi har fått vår gode sofa på kontoret, og våre fine hatter.
            </p><br></div>


        <a data-toggle="collapse" href="#HaraldWathne"><h2>Harald Wathne</h2>
        </a>
        <div id="HaraldWathne" class="collapse">
            <i>Avgangsår: 2007</i>
            <p>
                (Første festivalus) Vi har fått høre at Hybridas historie startet som smått med
                Badekarpadlingen i 2002 med en livlig gjeng som blant annet stjal terrormidlene sine fra Indøk. Det er
                også
                blitt fortalt at disse hybridene, etter en legendarisk fest på Singsaker Studenthjem våren 2003, lagde
                et
                provisorisk linjeforeningsstyre før Hybrida ble en realitet med slagordet «Hybrida – ad infinitum».
                Disse
                hybridene har vært med å startet gode tradisjoner som lånepils på Naboen og opptak med
                katapultkonkurranse.
                I tillegg har de vært med på å skape gode forhold til de andre «søster»-linjene ved IVT. Det er også
                herfra
                vi har fått vår gode sofa på kontoret, og våre fine hatter.
            </p><br></div>

        <a data-toggle="collapse" href="#BardGamnes"><h2>Bård Gamnes</h2>
        </a>
        <div id="BardGamnes" class="collapse">
            <i>Avgangsår: 2010</i>
            <p>
                Denne personen bidro til å gi Hybrida et av sine viktigste symboler. Som en liten linje, er det
                mange som ikke har hørt om oss og linjeforeninga vår, men når vi nevner kilten, viser det seg at folk
                har
                sett oss. Han gav oss kilten, og ryktene sier at han drakk alltid for mye, Bård Gamnes.
            </p><br></div>

    </div>



{% endblock text %}
