{% extends 'staticpages/about.html' %}
{% load static %}
{% block text %}
    <article>
        <div class="remove-whitebox-padding">
            <img src="{% static 'img/about/vago.jpg' %}" class="center-block img-responsive art-img" width="100%">
        </div>
        <h1>Griffens Orden</h1>
        <p style="text-align: center; max-width: 48em; margin: auto">
            Griffens Orden består av de medlemmer som har gjort seg verdige å utnevnes til Ridder av Griffens Orden.
            Utnevnelsen går til hybrider som har utmerket seg i sitt arbeid for linjeforeningen, eller studieprogrammet
            Ingeniørvitenskap og IKT. Hybriden må ha innhatt ekstraordniært engasjement og initiativ, samt vist stor
            glede
            av å ytre Hybridas formål og verdier.
            <br><br>
            Utnevnelsen vedtas av Vokterne av Griffens Orden, et råd bestående av høyst åtte aktive hybrider,
            med minimum et medlem per årskull. Vokterne står fritt til å utføre høyst tre utnevnelser hvert år. Ingen
            styremedlemmer fra Hybridas hovedstyre kan sitte i rådet og vokterne tar selv inn nye medlemmer når dette er
            nødvendig.
            <br><br>

            Alle medlemmer av Hybrida kan nominere kandidater til utnevnelsen <a
                href="https://www.tinyurl.com/RidderAvGriffensOrden">her</a>.

            <br><br>
            Ønsker man mer direkte kontakt med Vokterne kan de nås på email via <a href="mailto:vago@hybrida.no">vago@hybrida.no</a>
        </p>
    </article>

    <!-- for loop to generate alle the members of the order of the griff -->
    <div class="container" style="text-align: center; max-width: 40em; margin: auto">
    {% for item in Year|dictsortreversed:'awarded' %}
        <h1>{{ item.awarded }}</h1>
        {% for ridder in Ridder|dictsortreversed:'awarded'%}
            {% ifequal ridder.awarded item.awarded %}
                <a data-toggle="collapse" href="#ridder{{ ridder.id }}"><h2>{{ ridder.hybrid.full_name }}</h2></a>
                <div id="ridder{{ ridder.id }}" class="collapse">
                    <i>Avgangsår: {{ ridder.finished }}</i> <br>
                    <p> {{ ridder.description }}</p>
                </div>
            {% endifequal %}
        {% endfor %}
    {% endfor %}
    </div>

    <!-- sidebar inlogging for the order of the Griff members -->
    {% if perms.ridder.add_ridder %}
        {% block sublinks %}
                <a href="{% url 'admin:griffensorden_ridder_add'%}">Ridder Admin</a>
        {% endblock %}
    {% endif %}

{% endblock text %}
