{% extends 'standard_sidebar_top.html' %}
{% block text %}
    <article>
        <h1>Om Hybrida</h1>
        <p>
            Hybrida er linjeforeningen for studieprogrammet Ingeniørvitenskap og IKT ved NTNU i Trondheim.
        </p>
        <p>
            Foreningens formål er å fremme samhold og kameratskap innad på studieprogrammet ved bla.a. å avholde
            arrangementer av både sosial og faglig karakter. Mer informasjon om oss finner du under menyen til høyre.
        </p>
    </article>
    <div class="space-above">
        {% include 'griff.svg' %}
    </div>
{% endblock %}
{% block unstyled_sidebar %}
    <div class="">
        <ul class="sidebar-links">
            <li><a href="{% url 'about' %}">Om Hybrida</a></li>
            <li><a href="{% url 'contact_us' %}">Kontakt Oss</a></li>
            <li><a href="{% url 'committees' %}">Komitéer</a></li>
            <li><a href="{% url 'griff_orden' %}">Griffens Orden</a></li>
            <li><a href="{% url 'statutter' %}">Statutter</a></li>
        </ul>
    </div>
{% endblock %}