{% extends 'standard_sidebar_top.html' %}
{% block text %}
    <article>
        <h1>Om Hybrida</h1>
        <p>
            Hybrida er linjeforeningen for studieprogrammet Ingeniørvitenskap og IKT ved NTNU i Trondheim.
        </p>
        <p>
            Foreningens formål er å fremme samhold og kameratskap innad på studieprogrammet ved blant annet å avholde
            arrangementer av både sosial og faglig karakter. Mer informasjon om oss finner du under menyen til høyre.
        </p>
    </article>
    <div class="space-above">
        {% include 'griff.svg' %}
    </div>
{% endblock %}
{% block unstyled_sidebar %}
    <div id="sidebar">
        <ul class="sidebar-links">
            {% for page, label in before_pages %}
                <li><a href="{% url page %}#innhold">{{ label }}</a></li>
            {% endfor %}
            <li>
                <ul>
                    {% block sublinks %}
                    {% endblock sublinks %}
                </ul>
            </li>
            {% for page, label in after_pages %}
                <li><a href="{% url page %}#innhold">{{ label }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        var content = $('#content-col');
        var sidebar = $('#sidebar');

        var prev = 0;
        var offset = 0;
        var margin = 0;
        adjust_margin = function () {
            if (window.innerWidth >= 992 && sidebar.height() > window.innerHeight + 65) {
                var delta = scrollY - prev;
                if (delta > 0) {
                    offset = Math.max(offset - delta, window.innerHeight - sidebar.height() - 80);
                } else if (delta < 0) {
                    offset = Math.min(offset - delta, 0);
                }
                margin = Math.max(Math.min(scrollY + offset, content.height() - sidebar.height()), 0);
                sidebar.css('margin-top', margin != null ? margin + 'px' : '');
                prev = scrollY;
            }
        };

        window.onload = adjust_margin;
        window.onresize = adjust_margin;
        window.onscroll = adjust_margin;
    </script>
{% endblock script %}
