{% extends 'standard_wide.html' %}
{% load static %}
{% block text %}
    <h1>Komiteer</h1>
    <table>
        <tr>
            <td>
                <div class="white-box" style="width: 300px; text-align: center;font-size: x-large">Vevkom</div>
            </td>
            <td style="padding-left: 100px">
                <div class="white-box" style="width: 300px; text-align: center;font-size: x-large;">Bedkom</div>
            </td>
            <td style="padding-left: 100px">
                <div class="white-box" style="width: 300px; text-align: center;font-size: x-large;">Arrkom</div>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 30px">
                <div class="white-box" style="width: 300px; text-align: center;font-size: x-large">Jentekom</div>
            </td>
            <td style="padding-left: 100px; padding-top: 30px">
                <div class="white-box" style="width: 300px; text-align: center;font-size: x-large;">Redaksjonen</div>
            </td>
            <td style="padding-left: 100px; padding-top: 30px">
                <div class="white-box" style="width: 300px; text-align: center;font-size: x-large;">Kjellerkom</div>
            </td>
        </tr>
    </table>
{% endblock %}