{% extends 'standard_sidebar.html' %}
{% block text %}
    <article>
    <h1>Kontaktinfo</h1>
    <br>
    <h3>Hovedstyret: styret@hybrida.no</h3>
    <br>
    <h3>Leder: Martin Vee Akselsen</h3>
    <p>leder@hybrida.no</p>
    <p>98815404</p>
    <br>
    <h3>Kontor</h3>
    <br>
    <p>Kjelleren i Gamle Kjemi, rom 19</p>
    <p>Kolbjørn Hejes vei 4</p>
    <p>Tlf: 73 55 05 41</p>
    <br>
    <h3>Postadresse</h3>
    <h4>Linjeforeningen Hybrida</h4>
    <p>Alfred Getz' vei 3</p>
    <p>SB 1</p>
    <p>7034 Trondheim</p>

    </article>
{% endblock %}