{% extends 'staticpages/about.html' %}
{% block text %}
    <article>
        <h1>Kontaktinfo</h1>
        <br>
        <h4>Hovedstyret</h4>
        <p>styret@hybrida.no</p>
        <br>
        <h4>Leder</h4>
        <p>Martin Vee Akselsen</p>
        <p>leder@hybrida.no</p>
        <p>98815404</p>
        <br>
        <h4>Kontor</h4>
        <p>Kjelleren i Gamle Kjemi, rom 19</p>
        <p>Kolbjørn Hejes vei 4</p>
        <p>Tlf: 73 55 05 41</p>
        <br>
        <h4>Postadresse</h4>
        <h4>Linjeforeningen Hybrida</h4>
        <p>Alfred Getz' vei 3</p>
        <p>SB 1</p>
        <p>7034 Trondheim</p>

    </article>
{% endblock %}