{% extends 'staticpages/about.html' %}
{% block text %}
    <article>
        <h1>Kontakt oss</h1>
        <br>
        <h4>Hovedstyret</h4>
        <p>styret@hybrida.no</p>
        <br>

        <h4>Kontor</h4>
        <p>Kjelleren i Gamle Kjemi, rom 19</p>
        <p>Kolbjørn Hejes vei 4</p>
        <p>Tlf: 73 55 05 41</p>
        <br>
        <h4>Postadresse</h4>
        <h4>Linjeforeningen Hybrida</h4>
        <p>Alfred Getz' vei 3</p>
        <p>SB 1</p>
        <p>7034 Trondheim</p>
        <br>

        <a name="leder" class="anchor"></a>
        <h4>Leder</h4>
        <p>{{ leder.get_full_name }}</p>
        <p>leder@hybrida.no</p>
        <p>90709260</p>
        <br>

        <a name="nestleder" class="anchor"></a>
        <h4>Nestleder</h4>
        <p>{{ nestleder.get_full_name }}</p>
        <p>nestleder@hybrida.no</p>
        <br>

        <a name="skattmester" class="anchor"></a>
        <h4>Skattmester</h4>
        <p>{{ skattmester.get_full_name }}</p>
        <p>skattmester@hybrida.no</p>
        <br>

        <a name="festivalus" class="anchor"></a>
        <h4>Festivalus</h4>
        <p>{{ festivalus.get_full_name }}</p>
        <p>festivalus@hybrida.no</p>
        <br>

        <a name="bksjef" class="anchor"></a>
        <h4>Bedriftskomitesjef</h4>
        <p>{{ bksjef.get_full_name }}</p>
        <p>bedrift@hybrida.no</p>
        <br>

        <a name="vevsjef" class="anchor"></a>
        <h4>Vevsjef</h4>
        <p>{{ vevsjef.get_full_name }}</p>
        <p>vevsjef@hybrida.no</p>
        <br>

        <a name="jentekomsjef" class="anchor"></a>
        <h4>Jentekomitesjef</h4>
        <p>{{ jentekomsjef.get_full_name }}</p>
        <p>jentekomsjef@hybrida.no</p>
        <br>

        <a name="prokomsjef" class="anchor"></a>
        <h4>Prokomsjef</h4>
        <p>{{ prokomsjef.get_full_name }}</p>
        <p>prokom@hybrida.no</p>
        <br>

        <a name="redaktor" class="anchor"></a>
        <h4>Redaktør</h4>
        <p>{{ redaktor.get_full_name }}</p>
        <p>updatek@hybrida.no</p>
        <br>

        <a name="avvik" class="anchor"></a>
        <button type="button" class="btn btn-danger btn-block">
            <h4>
                <a href="{% url 'avvik' %}" style="color: black"> Send Avviksmelding </a>
            </h4>
        </button>
        <br>

    </article>
{% endblock %}