{% extends 'staticpages/about.html' %}
{% block text %}
    <h1>Griffens Orden</h1>
    <p>
        Griffens Orden består av de medlemmer som har gjort seg verdige å utnevnes til Ridder av Griffens Orden.
        Utnevnelsen går til hybrider som har utmerket seg i sitt arbeid for linjeforeningen, eller studieprogrammet
        Ingeniørvitenskap og IKT. Hybriden må ha innhatt ekstraordniært engasjement og initiativ, samt vist stor glede
        av å ytre Hybridas formål og verdier.</p>
    <p>
        Utnevnelsen vedtas av Vokterne av Griffens Orden, et råd bestående av høyst åtte aktive hybrider,
        med minimum et medlem per årskull. Vokterne står fritt til å utføre høyst tre utnevnelser hvert år. Ingen
        styremedlemmer fra Hybridas hovedstyre kan sitte i rådet og vokterne tar selv inn nye medlemmer når dette er nødvendig.
    </p>
    <p>
        Alle medlemmer av Hybrida kan nominere kandidater til utnevnelsen. Vokterne sender ut informasjon når
        nominasjonsprosessen er i gang slik at alle nominasjoner skal kunne gjennomgås før en eventuell utnevnelsen skal finne sted.
    </p>
    <p>
        Ønsker man mer direkte kontakt med Vokterne kan de nås på email via <a href="mailto:vago@hybrida.no">vago@hybrida.no</a>
    </p>
{% endblock text %}