{% extends 'staticpages/about.html' %}
{% load static %}
{% block text %}
    <article>
        <h1>Hybridas historie</h1>

        <p>En gang i tiden var det noen som så behovet etter noen som kunne fungere som et ledd mellom den typiske sivilingeniøren og dataingeniøren. Løsningen var en hybrid; en som hadde utdanning innenfor data men med fordypning rettet mot en av ingeniørdisiplinene.</p>
        <p>Det gjorde at i 2002 entret det første kullet med I&IKT-studenter NTNU og Gløshaugen. De nye studentene hadde ikke egne faddere, men ved hjelp fra studenter fra hovedprofilene maskin, bygg, marin og petroleum ble studentene tatt imot med NTNUs åpne armer. Noen uker senere hadde de nye studentene bestemt seg for å være med på det tradisjonelle Badekarpadlingen i Nidelva. Natt og dag jobbet de sammen for å lage en gigantisk flåte, og samarbeidet ga mersmak. De ønsket å lage sin egen linjeforening.</p>

        <p>Seks personer gikk sammen med planer om å opprette en linjeforening for Ingeniørvitenskap & IKT. Stiftelsen skjer på våren 2003, der det ble laget et stort banner med det passende linjeforeningsnavnet «Hybrida». Bare noen måneder senere var det klart for tidenes først fadderperiode i regi av studenter ved I&IKT. 2003-kullet ble møtt med fadderopplegget som senere har satt rammer for det nåværende, og selvfølgelig etterfulgt av det tradisjonelle opptaket og en heidundrende immatrikuleringsfest.</p>

        <p>Over tid utviklet Hybrida seg mer og mer til den linjeforeningen vi i dag kjenner. Allerede i 2005 bestemte jentene i linjeforeningen at det var på tide med en egen komité for jentene, jentekomitéen. Året etter fant Festivalus (Arrangementsjef) at det trengtes en komité som tok ansvar for Hybridas arrangementer, og det var starten på dagens ArrKom. Innad i ArrKom ble det bestemt at en fadderkomité anført av faddersjef var det beste for å arrangere en innholdsrik og kreativ fadderperiode.</p>

        <p>Veksten fortsatte i 2007. Linjeforeningen fikk sin egen linjeforeningsavis, Update^k, og den første utgaven kom ut 1. november samme året. Utgaven bestod av sammendrag fra fadderperioden, bilder fra opptaket og tips om hvordan overleve studiehverdagen på I&IKT. Samtidig hadde bedriftskomitéen startet arbeidet for fullt med å skaffe Hybrida en egenkapital, mens vev-komitéen jobbet med å utvikle og drifte linjeforeningens nettside.</p>

        <p>På denne tiden hadde allerede diskusjonene om Hybrida skulle ha et eget linjeforeningsplagg. Det var intense diskusjoner med mange forkjempere for den tradisjonelle kilten med hovedargumentet: «Hadde det ikke vært gøy hvis alle gikk i kilt?». Siden den gang har alle nye hybrider ikledd seg kilten i både offisielle og uoffisielle sammenhenger. Hvert år feires plagget med en heidundrende kiltfest.</p>

        <p>De neste årene går sin naturlige gang. Hybrida vokser i engasjerte studenter, og de første studentene er allerede kommet seg ut i arbeidslivet da linjeforeningen feirer 5-årsjubileum. Fram til 10-årsjubileumet ble det gjort mye. Hybrida fikk tradisjoner og linjeforeningen blir mer og mer en seriøs organisasjon. I 2012 blir I&IKT-ringen opprett. Et tiltak for å knytte studieretningen tettere mot bedriftene samtidig som bedriftene skulle få muligheten til å påvirke studieforløpet ved I&IKT.</p>

        <p>Året etter var det klart for det som ryktes å være et uforglemmelig 10-årsjubileum. I ti dager i strekk feiret Hybridas medlemmer jubileumet før det ble avsluttet med en storslagen galla bestående av daværende studenter, tidligere studenter og ansatte ved NTNU. På dette tidspunktet var også Vokterne av Griffens Orden (VAGO) opprettet, og på jubileumsgallaen ble seksten hybrider utnevnt til Ridder av Griffens Orden, deriblant de seks som var med på å starte linjeforeningen.</p>

        <p>De siste årene har både små og store grupper vokst opp fra jorden. Hybridas fotballag, Hybrida FK, måler krefter mot de andre studentlagene, og linjebandet Ståpels underholder hybrider ved sine magiske opptredener. I tillegg har Hybrida fått sin egen strikkegenser og en egen turgruppe som arrangerer både mindre og større turer.</p>




    </article>
{% endblock %}