{% extends 'staticpages/about.html' %}
{% load static %}
{% block unstyled_text %}
   <article class="white-box">
        <h1>Om Holte Consulting</h1>
    </article>
    <a name="lenke1" class="anchor"></a>
    <article class="white-box space-above">
        <h2>Hvem er Holte Consulting?</h2>
        <p>Holte Consulting er et norsk konsulenthusetablert i 1977 som er fagspesialister innen prosjektledelse.
        Vi bemanner ulike roller i prosjektorganisasjoner og tilbyr rådgivnings- og analysetjenester. Vi er omtrent
        50 ansatte og holder til sentralt på Skøyen i Oslo.
        Prosjektfaget er vår kjernekompetanse, og vi har oppdrag innen flere bransjer – både IT,
        telekom, energi, samt bygg, anlegg og eiendom. Vi hjelper våre kunder med:</p>
        <strong>Rådgivning</strong><br>
        •	Bistår med å analysere muligheter og velge riktig konsept eller strategi<br>
        •	Gir råd om hvordan prosjekter bør styres for å nå sine mål<br>
        •	Analyserer risiko og usikkerhet<br>
        •	Kvalitetssikrer prosjektdokumentasjon og kostnadskalkyler<br>
        •	Hjelper kundene med å utvikle og etablere prosjektmetodikk<br>
        <br>
        <strong>Prosjektledelse og prosjektbemanning</strong><br>
        •	Bemanner prosjekter med ulike prosjektfaglige roller<br>
        •	Bistår med metodikk, verktøy og utførelse av porteføljestyring<br>
        <br>
        <strong>Våre yngste medarbeidere har blant annet vært med på å...</strong><br>
        •	utvikle ny mobilapp<br>
        •	innføre nytt IT system for kjent restaurantkjede<br>
        •	lede teknisk prosjekt for større mediebedrift<br>
        •	utvikle prosjektmodell for bedrifter i ulike bransjer<br>
    </article>

    <a name="lenke2" class="anchor"></a>
    <article class="white-box space-above">
        <h2>Hvem jobber i Holte Consulting?</h2>
        Våre medarbeidere har hovedsakelig bakgrunn fra NTNU, og har solid teknisk og/eller økonomisk kompetanse. Konsulentene våre kjennetegnes ved at de er inspirerende, nysgjerrige og handlekraftige. Alle gjør sitt beste for å bidra til at kundene våre gjennomfører vellykkede og riktige prosjekter.

        Hva kan du forvente som nyutdannet i Holte Consulting?
        Hos oss kommer du til å arbeide i team med andre unge og motiverte konsulenter og under ledelse av personer med lang erfaring. Du vil måtte sette deg raskt inn i nye prosjekter og problemstillinger, og du vil oppleve en variert hverdag med ulike arbeidsoppgaver, både innen rådgivningsoppdrag og prosjektoppdrag av ulik lengde.

        Vi er en kompetansebedrift og alle som arbeider i Holte Consulting får tilbud om kurs for å videreutvikle seg faglig.

        I Holte Consulting er vi opptatt av å skape samhold og et godt arbeidsmiljø. Vi har jevnlig sosiale arrangementer, ulike treningstilbud og deltar sammen på idrettsarrangementer slik som  stafetter, skirenn, tennis, fotball og multisport. Én gang i året drar vi på topptur til Vestlandet og vi har også vært på flere sosiale turer til utlandet.

        Vi tilbyr fleksibel arbeidstid og gode lønns-, forsikrings- og pensjonsvilkår.

    </article>

        <a name="lenke3" class="anchor"></a>
    <article class="white-box space-above">
        <h2>Samarbeidet mellom Holte Consulting og Hybrida</h2>
        <p>
            Holte Consulting er stolt samarbeidspartner med Hybrida, og bidrar med ulike arrangementer som bedriftspresentasjon, kurs eller andre faglige arrangementer samt deltakelse på sosiale arrangementer i regi av Hybrida. Holte Consulting vil også poste ledige faste jobber og sommerjobber hos Hybrida – følg med!
        </p>
    </article>

{% endblock %}

{% block sublinks %}
    <a href="#lenke1">Hvem er Holte Consulting?</a>
    <a href="#lenke2">Hvem jobber i Holte Consulting?</a>
    <a href="#lenke3">Samarbeidet med Hybrida</a>
{% endblock %}