{% extends 'standard_wide.html' %}
{% load static %}
{% block title %}Hybridastrikk{% endblock %}
{% block text %}
<!--kan bruke pixlr.com til skalering av bilder (søk photoshop online)-->
  <!--  <style>
        img {
            filter: #4b4c4f; /* IE6-9 */
            -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
            -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
            box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
            margin-bottom:20px;
        }

        img:hover {
            filter: none; /* IE6-9 */
            -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
        }
    </style>
-->
        <h1 style="align-content: center;">Hybrias egen strikkeside</h1>
        <p style="text-align: center;">Her finner du oppskriften til hybridas flotte strikkegenser, samt andre oppskrifter som votter og kiltsokker</p>
        <p style="text-align: center;">Bli gjerne med i Hybridas Strikkegruppe på facebook <a href="https://www.facebook.com/groups/220215711656789/?fref=ts">her</a><br><br></p>
    <p style="text-align: center">Dette blir kanskje til et bilde-show etterhvert</p>
    <img style="height:500px; display: block; margin-right: auto; margin-left:auto; " src="../../static/img/strikkhopp.png">
    <p><br></p>

        <div class="row remove-whitebox-padding">

            <div class="col-md-3 col-xs-12 col-sm-6" style="background-color:#104e91; height: 480px;">
                <h3 style="color: #e9e9e9;">Hybrida Strikkegenser<br><br></h3>
                        <a href="../../static/pdf/Hybridagenser.pdf" target="_blank"><img src="../../static/img/gensergjengen.jpg"></a>


            </div>

            <div class="col-md-3 col-xs-12 col-sm-6" style="background-color:#e9e9e9; height: 480px;">
                <h3> Ølvott<br><br></h3>
                <a href="../../static/pdf/Hybridagenser.pdf" target="_blank"><img src="../../static/img/gensergjengen.jpg"></a>

            </div>

            <div class="col-md-3 col-xs-12 col-sm-6" style="background-color:#005675; height: 480px;">
                <h3 style="color: #e9e9e9;">Kiltsokker<br><br></h3>
                <a href="../../static/pdf/Kiltsokker_med_flettemønster.pdf" target="_blank"><img src="../../static/img/gensergjengen.jpg"></a>

            </div>

            <div class="col-md-3 col-xs-12 col-sm-6" style="background-color:#e9e9e9; height: 480px;">
                <h3>Votter med griffmønster</h3>
                <a href="../../static/pdf/Votter_griffmønster.pdf" target="_blank"><img src="../../static/img/hybridavotter-irl.jpg" style="height: 420px; align-content: center; align-items: center; display: block;"></a>
             <!--   <img src="../../static/img/hybridavotter-irl.jpg"> -->
            </div>
        </div>
        <p style="text-align: center"><br><br>Hvis du har tips til flere oppskrifter, andre versjoner eller finner feil i oppskriftene, ikke nøl med å sende mail til kiab[at]stud.ntnu.no</p>

{%  endblock %}