{% extends 'staticpages/about.html' %}
{% load static %}
{% block text %}
    <style>
        #rapport {
            font-size: 18px;
            color: #005675;
            text-align: center;
        }

        .buttons {
            position: absolute;
            left: 535px;
            top: 80px;
        }
    </style>


    <div class="container" style="width: 70%">
     {% if perms.staticpages.add_protocol %}
                <a href="{% url 'admin:staticpages_itv_report_add'%}">
                    <button class="btn btn-xs btn-primary">Ny</button>
                </a>
            {% endif %}

    <div class="buttons">
        </div>
        <h1>ITV referater</h1>

        <div class="list-group">
            {% for ITVreport in reports %}
                <a id="rapport" href="/uploads/{{ ITVreport.report }}" class="list-group-item" target="_blank">{{ ITVreport.description }} <br> {{ ITVreport.date }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block sublinks %}
    {% if user.is_authenticated %}
        <a href="{% url 'ITVreport' %}">ITVreferater</a>
    {% endif %}
{% endblock %}
