{% extends 'staticpages/about.html' %}
{% load static %}
{% block sidebar_extra %}
    <div class="white-box space-above">
        <a href="#"><h2>Sangtekster</h2></a>
        <li><a href="#Nu klinger">Nu klinger</a></li>
        <li><a href="#Theodor">Theodor</a></li>
        <li><a href="#Lambo">Lambo</a></li>
        <li><a href="#Andra sidan e ni klara">Andra sidan e ni klara</a></li>
        <li><a href="#Barnestemmer">Barnestemmer</a></li>
    </div>
{% endblock %}
{% block title %}Sangtekster{% endblock %}
{% block text %}
    <div style="text-align: center; max-width: 30em; margin: auto">
        <h1>Sangtekster</h1>
        <i>Som student i Norges beste studentby, Trondheim, forventes det at man kjenner til
            enkelte sanger. Blant de obligatoriske finner man "Nu klinger", "Theodor", drikkesangen
            "Lambo" og diverse skråleviser som "andra sidan" og "barnestemmar".</i>
        <div id="Nu klinger" style="height: 50px; clear: both"></div>
        <h2>Nu klinger</h2>
        <i>Sangen Nu klinger ble skrevet til UKErevyen i 1929, Cassa-Rossa.
            Dette var den første UKA etter at Samfundet flyttet inn i det runde, røde bygget, derav navnet.
            Sangen har blitt et symbol på å være student i Trondheim og synges i tide og utide.
            I Nordre Gate står det til og med en statue av Studenten i den gamle stad.
            Denne sangen blir man glad i!</i>
        <br><br>
        <h4>Nu klinger</h4>
        <p>
            Nu klinger igjennem den gamle stad paany en studentersang,<br/>
            og alle mand alle i rækker og rad svinger op under bægerklang,<br/>
            og mens borgerne våker i køia, og hører det glade kang-kang<br/>
            synger alle mand, alle mand, alle mand, alle mand, alle mand,<br/>
            alle man an:<br/><br/>


            <i><strong>Omkvæd:</strong></i><br/>

            Studenter i den gamle stad, ta vare på byens ry! (2x dunke i bordet)<br/>
            Husk paa at jenter, øl og dram var kjæmpernes meny.<br/>
            Og falder i alle mand alle, skal det gjalle fra alle mot sky:<br/>
            La&#8217;kke byen få ro, men la den få merke den er en studenterby!<br/>
            og øl og dram, og øl og dram... (2x)<br/><br/>

            I denne gamle staden sat saa mangen konge stor<br/>
            og hadde nok av øl fra fat og piker ved sitt bord,<br/>
            og de laga bøljer i gata naar hjem ifra gildet de fôr<br/>
            og nu sitter de alle mand alle i Valhall og traller til oss i kor:<br/><br/>

            <i>Omkvæd</i><br/><br/>

            Paa Elgesæter var det liv i Klosteret dag og nat.<br/>
            Der hadde de sin kagge og der hadde de sin hatt.<br/>
            De herjet i Nonnenes gate og rullet og tullet og datt,<br/>
            nu skuer de fra Himmelen og griper sin harpe fat:<br/><br/>

            <i>Omkvæd</i><br/><br/>

            <i>(adagio)<br></i>
            Naar vi har vandret hen og staden hviler et øieblik,<br/>
            da kommer vore sønner og tar opp den gamle skik:<br/>
            en lek mellom muntre butuljer, samt aldri saa lit erotik,<br/>
            <i>(allegro)<br></i>
            og saa sitter vi i Himmelen og stemmer opp vor replik:
            <br/><br/>
            <i>(Tramp/dunk hele siste refrenget)</i><br/>
            Studenter i den gamle stad, ta vare på byens ry! (2x tramp)<br/>
            Husk paa at jenter, øl og dram var kjæmpernes meny.<br/>
            Og falder i alle mand alle, skal det gjalle fra alle mot sky:<br/>
            La&#8217;kke byen få ro, men la den få merke den er en studenterby!<br/>
            Skål!
        </p>
        <div id="Theodor" style="height: 50px; clear: both"></div>
        <h2>Theodor</h2><h3>Et akademisk bordvers</h3>
        <i>Dette bordverset synges på de aller fleste gallaer, deriblant vår årlige
            immatrikuleringsgalla og nyttårsgalla.</i>
        <br><br>
        <h4>Theodor</h4>
        <p>
            Jeg elskede sjøen ifra jeg var ung<br>
            og svømmede om som en sei<br>
            faderiorei<br><br>

            En dag da jeg badet min velskapte kropp<br>
            kun bagenden ragede opp<br>
            faderiorei<br><br>

            Folk ropte: “Der svømmer en aligator!”<br>
            Så var det - til Theodor<br>
            Folk ropte: “Der svømmer en aligator!”<br>
            Så var det - til Theodor <br>
        </p>
        <div id="Lambo" style="height: 50px; clear: both"></div>
        <h2>Lambo - drikkevise</h2>
        <i>Hvis noen drikker for sent kan denne risikere å få sangen Lambo sunget til seg.
            Da er man pent nødt til å drikke ut så fort som mulig, fordi sangen går i loop til man er
            ferdig.
            Når man så har tømt flasken eller glasset, må man selv synge et vers,
            mens man snur flaska opp ned over hodet for å bevise at den er tom!</i>
        <br><br>
        <h4>Lambo</h4>
        <p>
            Se der står en fyllehund,<br>
            mine herrer lambo.<br>
            Sett nå glasset for din munn,<br>
            mine herrer lambo.<br>
            Se hvordan hver dråpe vanker<br>
            nedad halsen på den dranker.<br>
            Lambo, lambo, mine herrer lambo.<br>
            <i>(siste linje gjentas til flaska/glasset er tømt)</i><br>
            <br>
            <i>Svar:</i><br>
            Jeg mitt glass utdrukket har,<br>
            mine herrer lambo.<br>
            Se der finns ei dråpen kvar,<br>
            mine herrer lambo.<br>
            Som bevis derpå jeg vender<br>
            glasset på dets annen ende.<br>
            Lambo, lambo, mine herrer lambo.<br>
            <br>
            <i>Alle:</i><br>
            Han kunne kunsten,<br>
            han var et jævla fyllesvin.<br>
            Så går vi til neste mann<br>
            og ser om han kan kunsten.<br>

        </p>
        <div id="Andra sidan e ni klara" style="height: 50px; clear: both"></div>
        <h2>Andra sidan e ni klara</h2>
        <i>Sitter man i festlig lag og ønsker å skåle med noen langt borte,
            eller muligens hele forsamlingen, så finnes det løsninger for det.
            Hybrida har også sin egen vri på slutten av denne, se den kursive delen av teksten.
            Som hybrid er det obligatorisk å også rope dette!</i>
        <br><br>
        <p>
            <i>Noen roper:</i><br>
            Andre sidan e ni klara?<br><br>

            <i>Alle som ikke spurte svarer:</i><br>
            Jaja mensann, fattast bara!<br><br>

            <i>Hvorpå alle roper sammen:</i><br>
            Åååååå, supa pattorna<br>
            Ned med buksorna<br>
            Vifta køllorna<br>
            shaka rumporna,<br>
            heva glassorna,<br>
            Ååååå, drikk din dritt!<br>
        </p>
        <div id="Barnestemmer" style="height: 50px; clear: both"></div>
        <h2>Barnestemmer</h2>

        <i>Innimellom (les: ganske ofte) begynner noen et rop som bygger opp til verbal kamp.
            Dette skjer gjerne med at et rom deles i to grupper, og disse to gruppene roper det samme
            høyere og høyere til hverandre.
            Samtidig har de fleste en tendens til å reise seg opp, komme seg opp på stolen og ofte ende
            stående på bordet mens man roper og gestikulerer kraftig.</i>
        <br><br>
        <p>
            <i>Det som ropes er:</i><br>
            Og vi har våra klara barnestemmar klar, <br>
            men har i era klara barnestemmar kvar?!! <br><br>

            Dette ropes helt til den ene siden vinner.
        </p>
        <div style="height: 50px; clear: both"></div>
    </div>
{% endblock text %}