{% extends 'staticpages/about.html' %}
{% load static %}
{% block text %}
    <h1>Statutter</h1>
   <h4><a href="{% static 'pdf/Statutter2016.04.12.pdf' %}">Hybridas Statutter</a> (sist oppdatert 12.april 2016)</h4>

    <h4><a href="{% static 'pdf/VAGOStautter.pdf' %}">Statutter og retningslinjer for Griffens Orden</a></h4>

    <h4><a href="{% static 'pdf/Hybrida Bedriftskomité statutter 12042011.pdf' %}">Statutter Bedriftskomitéen</a></h4>
{% endblock text %}
{% block sidebar %}

{% endblock sidebar %}