{% extends 'standard_sidebar_top.html' %}
{% block text %}
    <h2 style="text-align: center">Medlemmer</h2>
    {% for student in students %}
        <div style="margin-top: 7px" class="col-sm-6 col-xs-12">
            <div class="square_img" style="margin-right: 1em; float: left">
                <img src="uploads/{{ student.image }}">
            </div>
            <div style="overflow: hidden">
                <div style="text-align: left; overflow: hidden">
                    <a href="{% url 'profile' student %}" style="text-overflow: ellipsis; white-space:nowrap; overflow: hidden; width: 100%; display:inline-block">
                        {{ student.get_full_name }}
                    </a>
                    <div style="display: inline-block">
                        {% if student.member %}
                            Medlem
                        {% else %}
                            Ikke medlem
                        {% endif %}
                    </div>
                <div style="display: inline-block">{{ student.specialization.name }}</div>

                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block sidebar %}
    <form action="" method="POST">
        {% csrf_token %}
        <h3 style="font-size: 25px">Avgangsår</h3>
        <hr>
        <td>
            <button type="submit" class="btn btn-link" name="grade" value="1">1. Klasse</button>
        </td>
        <br>
        <td>
            <button type="submit" class="btn btn-link" name="grade" value="2">2. Klasse</button>
        </td>
        <br>
        <td>
            <button type="submit" class="btn btn-link" name="grade" value="3">3. Klasse</button>
        </td>
        <br>
        <td>
            <button type="submit" class="btn btn-link" name="grade" value="4">4. Klasse</button>
        </td>
        <br>
        <td>
            <button type="submit" class="btn btn-link" name="grade" value="5">5. Klasse</button>
        </td>
    </form>
{% endblock %}
