{% extends 'staticpages/about.html' %}
{% load static %}
{% block sublinks %}

    <li><a href="#PTV">PTV</a></li>
    <li><a href="#KTV">KTV</a> </li>
{% endblock %}
{% block title %}Tillitsvalgte{% endblock %}
{% block unstyled_text %}
    <a name="Tillitsvalgte" class="anchor"></a>
    <article  class="white-box">
        <h1>Tillitsvalgte</h1><br>
        <h2>Programtillitsvalgte (PTVer):</h2>
        <p>PTVene skal ivareta studentenes interesser og er fremste representant for studentene ved studieprogrammet og opp mot studieprogrammet ledelse. PTVene er:</p>
        <p>• Stephanie Buadu (5. klasse): <a href="mailto:">stephabu@stud.ntnu.no</a></p>
        <p>• Ingrid Foldstad (2. klasse): <a href="mailto:">ingrifol@stud.ntnu.no</a></p>
        <h2>Klassetillitsvalgte (KTVer):</h2>
        <p>KTVene er i hovedsak kontaktperson for studentene i sin klasse. Som KTV skal man være tilgengelig for den enkelte student og hjelpe han/henne med problemer som angår studiet og klassesituasjonen, evt. henvise videre til instanser som kan gi hjelp. KTVene er:</p>
        <h3>1. Klasse</h3>
        <p> • Eivind Holden: <a href="mailto:">eivindbh@stud.ntnu.no</a></p>
        <p> • Jakob Roti: <a href="mailto:">jakob@roti.no</a></p>
        <h3>2. Klasse</h3>
        <p> • Torstein Solberg: <a href="mailto:">torstol@stud.ntnu.no </a></p>
        <p> • Julie Solvin Jaconbsen: <a href="mailto:">juliesj@stud.ntnu.no</a></p>
        <h3>3. Klasse</h3>
        <p> • Jonas Jam: <a href="mailto:">jonasvja@stud.ntnu.no</a></p>
        <h3>4. Klasse</h3>
        <p> • John Chen: <a href="mailto:">johnche@stud.ntnu.no</a></p>
        <p> • Andreas Børhaug: <a href="mailto:">andrborh@stud.ntnu.no</a></p>
        <h3>5. Klasse</h3>
        <p> • Henrik Løfaldli: <a href="mailto:">henrilof@stud.ntnu.no</a></p><br>
        <p> • Øystein Hauan: <a href="mailto:">oysteibh@stud.ntnu.no</a></p><br>

    </article>

    <a name="PTV" class="anchor"></a>
    <article class="white-box space-above">
        <h1>PTV</h1>
        <h4>Formålet med programtillitsvalgte (PTV)</h4>
        <p>PTV skal ivareta studentenes interesser og er fremste representant for studentene ved studieprogrammet og opp mot studieprogrammets ledelse.</p>
        <p>Hvem er vi?</p>
        <p>Stephanie Buadu (5. klasse): stephabu@stud.ntnu.no</p>
        <p>Ingrid Foldstad (2. klasse): ingrifol@stud.ntnu.no</p><br>

        <h4>Arbeidsoppgaver:</h4>
        <p>Kontakt med studentdemokratiet:<br>
            • PTV skal ha dialog med KTVer eller tilsvarende og de Studenttillitsvalgte ved fakultetet.<br>
            • PTV skal arrangere møter med KTVer (anslagsvis 1 i semesteret).<br>
            • PTV skal møte på studentrådsmøtene (opptil hver mandag).<br>
            • PTV skal holde allmøte minst en gang per semester.<br>
            • PTV kan møte på Studenttingets møter.<br>
            • PTV skal delta på seminarer som blir holdt i regi av Studentrådet.<br>

            Kontakt med studieprogrammet:<br>
            • Møte på møtene i Studieprogramutvalget.<br>
            • Møte på møtene i Studieprogramrådet.<br>
            • Avtroppende PTV må sørge for forsvarlig overlapp og opplæring av ny PTV.</p><br>
        <h4>Hvor finner du oss?</h4>
        <p>Studentrådskontoret i andre etasje på Gamle Fysikk.</p><br>
        <h4>Når har vi kontortid?</h4>
        <p>Vi befinner oss på Studentrådskontoret hver torsdag mellom klokken 12.15 og 14.00. Vi svarer også på mail!<br>

            Myndighet<br>
            PTV er valgt av allmøtet ved Studieprogrammet og representerer studentene ved studieprogrammet mellom allmøtene. PTV sitter i et år av gangen. <br>

            Det viktigste er: Er det noe du ikke er fornøyd med i din studiehverdag, så kom til oss!</p><br>
    </article>

    <a name="KTV" class="anchor"></a>
    <article class="white-box space-above">
        <h1>KTV</h1>
        <h4>Formålet med klassetillitsvalgt (KTV) </h4>
        <p>KTV er i hovedsak kontaktperson for studentene i sin klasse. Som KTV skal du være tilgjengelig for den enkelte student og hjelpe hen med problemer som angår studiet og klassesituasjonen, evt. henvise videre til instanser som kan gi hjelp. Det er KTV sin oppgave å ta opp saker som angår klassen internt, enten dette er rettet mot faglærer eller klassen i sin helhet.</p><br>
        <h4>Arbeidsoppgaver:</h4>
        <p>Skal møte på de møter PTV arrangerer (anslagsvis 1 i semesteret).
            Møte på allmøte i studieprogrammet.
            Informere klassen når det er allmøte, og gjerne "blæste" litt.
            KTV skal engasjere seg i kvalitetssikringen av fagene som klassen har.
            KTV skal sjekke ut at det opprettes referansegrupper i alle obligatoriske fag i de tre første årstrinn av studieprogrammet. Hvis referansegruppe ikke opprettes innen rimelig tid etter semesterstart skal dette meldes videre til PTV.
            Delta på møtet som arrangeres for alle KTVer en gang i semesteret ai regi av PTVene.
            Rapportere eventuelle klagesaker som angår det berørte årstrinnet til PTVene</p><br>
        <h4>Myndighet</h4>
        <p>KTV er valgt av allmøtet i klassen og representerer studentene i klassen mellom allmøtene. De er i utgangspunktet valgt for et år av gangen, men er selv ansvarlig å avholde nyvalg, anslagsvis hver høst, når de selv har sittet et år. Det er mulig, og ønskelig, at de selv stiller til gjenvalg. Når PTV har sendt ut påminnelse om dette etter sommerferien, forventes det at valg holdes, og hvis ikke PTV får tilbakemelding om valg, antas det at KTV fortsetter et år til.</p>
    </article>
{% endblock %}