{% extends 'staticpages/about.html' %}
{% load static %}
{% block sublinks %}

    <li><a href="#ITV">ITV</a></li>
    <li><a href="#KTV">KTV</a> </li>
    <li><a href="{% url 'KTVreport' %}">KTVmøte Referat</a>
{% endblock %}
{% block title %}Tillitsvalgte{% endblock %}
{% block unstyled_text %}
    <a name="Tillitsvalgte" class="anchor"></a>
    <article  class="white-box">
        <h1>Tillitsvalgte</h1><br>
        <h2>Programtillitsvalgte (ITVer):</h2>
        <p>ITVene skal ivareta studentenes interesser og er fremste representant for
            studentene ved studieprogrammet og opp mot studieprogrammet ledelse. ITVene er:</p>
        <p>• {{ itv1.get_full_name }} ({{ itv1.get_grade }}. klasse): <a href="mailto:">{{ itv1.username }}@stud.ntnu.no</a></p>
        <p>• {{ itv2.get_full_name }} ({{ itv2.get_grade }}. klasse): <a href="mailto:">{{ itv2.username }}@stud.ntnu.no</a></p>
        <p>Det er også mulig å sende mail til oss på iogikt@sr-iv.no</p>
        <h2>Klassetillitsvalgte (KTVer):</h2>
        <p>KTVene er i hovedsak kontaktperson for studentene i sin klasse. Som KTV skal man
            være tilgengelig for den enkelte student og hjelpe han/henne med problemer
            som angår studiet og klassesituasjonen, evt. henvise videre til instanser som
            kan gi hjelp. KTVene er:</p>
        <h3>1. Klasse</h3>
        <p> • {{ forste_ktv1.get_full_name }}: <a href="mailto:">{{ forste_ktv1.username}}@stud.ntnu.no</a></p>
        <p> • {{ forste_ktv2.get_full_name }}: <a href="mailto:">{{ forste_ktv2.username}}@stud.ntnu.no</a></p>
        <h3>2. Klasse</h3>
        <p> • {{ andre_ktv1.get_full_name }}: <a href="mailto:">{{ andre_ktv1.username }}@stud.ntnu.no</a></p>
        <p> • {{ andre_ktv2.get_full_name }}: <a href="mailto:">{{ andre_ktv2.username }}@stud.ntnu.no</a></p>
        <h3>3. Klasse</h3>
        <p> • {{ tredje_ktv1.get_full_name }}: <a href="mailto:">{{ tredje_ktv1.username }}@stud.ntnu.no</a></p>
        <p> • {{ tredje_ktv2.get_full_name }}: <a href="mailto:">{{ tredje_ktv2.username }}@stud.ntnu.no</a></p>
        <h3>4. Klasse</h3>
        <p> • {{ fjerde_ktv1.get_full_name }}: <a href="mailto:">{{ fjerde_ktv1.username }}@stud.ntnu.no</a></p>
        <p> • {{ fjerde_ktv2.get_full_name }}: <a href="mailto:">{{ fjerde_ktv2.username }}@stud.ntnu.no</a></p>
        <h3>5. Klasse</h3>
        <p> • {{ femte_ktv1.get_full_name }}: <a href="mailto:">{{ femte_ktv1.username }}@stud.ntnu.no</a></p>
        <p> • {{ femte_ktv2.get_full_name }}: <a href="mailto:">{{ femte_ktv2.username }}@stud.ntnu.no</a></p>


    </article>

    <a name="ITV" class="anchor"></a>
    <article class="white-box space-above">
        <h1>ITV</h1>
        <h4>Formålet med programtillitsvalgte (ITV)</h4>
        <p>ITV skal ivareta studentenes interesser og er fremste representant for studentene ved
            studieprogrammet og opp mot studieprogrammets ledelse.</p>
        <p>Hvem er vi?</p>
        <p>Amalie Berge Holm (3. klasse)</p><br>
        <p>Sigurd Spildrejorde (3. klasse)</p><br>


        <h4>Arbeidsoppgaver:</h4>
        <p>Kontakt med studentdemokratiet:<br>
            • ITV skal ha dialog med KTVer eller tilsvarende og de Studenttillitsvalgte ved fakultetet.<br>
            • ITV skal arrangere møter med KTVer (anslagsvis 1 i semesteret).<br>
            • ITV skal møte på studentrådsmøtene (opptil hver mandag).<br>
            • ITV skal holde allmøte minst en gang per semester.<br>
            • ITV kan møte på Studenttingets møter.<br>
            • ITV skal delta på seminarer som blir holdt i regi av Studentrådet.<br>

            Kontakt med studieprogrammet:<br>
            • Møte på møtene i Studieprogramutvalget.<br>
            • Møte på møtene i Studieprogramrådet.<br>
            • Avtroppende ITV må sørge for forsvarlig overlapp og opplæring av ny ITV.</p><br>
        <h4>Hvor finner du oss?</h4>
        <p>Studentrådskontoret i andre etasje på Gamle Fysikk. Eller på mail iogikt@sr-iv.no</p><br>
        <h4>Når har vi kontortid?</h4>
        <p>Vi befinner oss på Studentrådskontoret hver tirsdag mellom klokken 10.15 og 12.00. Vi svarer
            også på mail!<br>

            Myndighet<br>
            ITV er valgt av allmøtet ved Studieprogrammet og representerer studentene ved studieprogrammet
            mellom allmøtene. ITV sitter i et år av gangen.<br>

            Det viktigste er: Er det noe du ikke er fornøyd med i din studiehverdag eller ønsker noen å snakke med,
            så kom til oss!</p><br>
    </article>

    <a name="KTV" class="anchor"></a>
    <article class="white-box space-above">
        <h1>KTV</h1>
        <h4>Formålet med klassetillitsvalgt (KTV) </h4>
        <p>KTV er i hovedsak kontaktperson for studentene i sin klasse. Som KTV skal du være
            tilgjengelig for den enkelte student og hjelpe hen med problemer som angår studiet
            og klassesituasjonen, evt. henvise videre til instanser som kan gi hjelp. Det er
            KTV sin oppgave å ta opp saker som angår klassen internt, enten dette er rettet mot
            faglærer eller klassen i sin helhet.</p><br>
        <h4>Arbeidsoppgaver:</h4>
        <p>Skal møte på de møter ITV arrangerer (anslagsvis 1 i semesteret).
            Møte på allmøte i studieprogrammet.
            Informere klassen når det er allmøte, og gjerne "blæste" litt.
            KTV skal engasjere seg i kvalitetssikringen av fagene som klassen har.
            KTV skal sjekke ut at det opprettes referansegrupper i alle obligatoriske fag i de tre
            første årstrinn av studieprogrammet. Hvis referansegruppe ikke opprettes innen rimelig
            tid etter semesterstart skal dette meldes videre til ITV.
            Delta på møtet som arrangeres for alle KTVer en gang i semesteret i regi av ITVene.
            Rapportere eventuelle klagesaker som angår det berørte årstrinnet til ITVene</p><br>
        <h4>Myndighet</h4>
        <p>KTV er valgt av allmøtet i klassen og representerer studentene i klassen mellom allmøtene.
            De er i utgangspunktet valgt for et år av gangen, men er selv ansvarlig å avholde nyvalg,
            anslagsvis hver høst, når de selv har sittet et år. Det er mulig, og ønskelig, at de selv
            stiller til gjenvalg. Når ITV har sendt ut påminnelse om dette etter sommerferien, forventes
            det at valg holdes, og hvis ikke ITV får tilbakemelding om valg, antas det at KTV fortsetter
            et år til.</p>
    </article>
{% endblock %}