{% extends 'standard_sidebar.html' %}
{% load widget_tweaks %}
{% load static %}
{% block text %}

    <h3 style="display: inline-block; font-size: xx-large; margin: auto">Last opp ny Update<sup>k</sup></h3>
    <br>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
            <label>{{ field.label_tag }}</label>
            <div>{{ field }}</div>
            </div>

        {% endfor %}
        <button type="submit" value="Save" class="btn btn-primary">Lagre</button>
    </form>
{% endblock text %}