{% extends 'standard_wide.html' %}
{% load static %}
{% block text %}

    {% if perms.staticpages.add_updatek %}
        <a href="{% url 'add_updatek' %}">
            <button class="btn btn-xs btn-primary">Ny</button>
        </a>
    {% endif %}

    <h1>Update<sup>k</sup></h1>

    {% for year, editions in updatek %}
        <div class="space-above">
            <h3>{{ year }}</h3>
            {% for edition in editions %}
                <a href="/uploads/{{ edition.pdf }}" target="_blank">
                    <img width="142px" src="/uploads/{{ edition.frontpage }}" class="styled-image">
                </a>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
{% block link %}
    <style>
        .styled-image:hover {
            transform: scale(1.1);
            transition: 0.3s;
        }
    </style>
{% endblock %}