{% extends 'standard_wide.html' %}
{% load static %}
{% block text %}
    <h1>Update<sup>k</sup></h1>
    {% for dir, files in updatek %}
        <div class="space-above">
            <h3>{{ dir }}</h3>
            {% for file in files %}
                <a href="/static/pdf/updatek/{{ dir }}/{{ file }}.pdf">
                    <img width="142px" src="/static/pdf/updatek/{{ dir }}/{{ file }}.png" class="styled-image">
                </a>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}