Django==2.0.8
django-tinymce4-lite==1.7.2
django-widget-tweaks==1.4.3
Pillow==9.3.0
psycopg2-binary==2.7.5
requests==2.18.4
sqlparse==0.2.4
google-api-python-client==1.7.8
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
django-crispy-forms==1.7.2