{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row space-below">
            {% for group, members, is_committee, form in all_groups_and_members %}
                {% if is_committee or user.is_superuser %}
                    <div class="col-xs-12 space-above">
                        <div class="white-box" id="text-box">
                            <h2>{{ group.name }}</h2>
                            <ul>
                                {% for member in members %}
                                    <li>
                                        {{ member.full_name }}
                                    </li>
                                {% endfor %}
                            </ul>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-member">
                                Legg til medlem
                            </button>
                            {# Opens the form to add a user to the group #}
                            <div class="modal fade" id="add-member" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <form method="POST">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">Legg til medlem
                                                    i {{ group.name }}</h4>
                                            </div>

                                            <div class="modal-body">
                                                <input type="text" placeholder="Søk..." oninput="filter_search(this)"
                                                       style="padding: .75rem 1.25rem; width:100%"/>
                                                <br>
                                                {% csrf_token %}
                                                {{ form.hybrider }}
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Avbryt
                                                </button>
                                                <button class="btn btn-primary" type="submit">Legg til</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script type="text/javascript">
        function filter_search(txtFilter) {
            hybrids = document.getElementById("id_hybrider").children;
            for(var i = 0; i < hybrids.length; i++) {
                if(hybrids[i].innerHTML.toLowerCase().startsWith(txtFilter.value.toLowerCase()) || hybrids[i].selected == true){
                    hybrids[i].style.display = "block";
                }
                else {
                    hybrids[i].style.display = "none";
                }
            }
        }
    </script>
{% endblock script %}