{% extends 'standard_sidebar.html' %}
{% block text %}
    {% if username %}
        {% if successful %}
            Mail sendt til {{ username }}@stud.ntnu.no hvis {{ username }} ligger i databasen.
        {% elif time_to_wait %}
            {{ time_to_wait }}
            Du må vente {{ time_to_wait|timeuntil }} før du kan sende en ny mail.
        {% endif %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">NTNU- Brukernavn: </label>
        <input id="username" name="username" type="text" class="form-control">
        <button class="btn btn-primary">Send</button>
    </form>
{% endblock %}
{% block sidebar %}
    <p style="text-align: center">Skriv inn ditt NTNU-brukernavn for å opprette bruker</p>
{%  endblock %}