{% extends 'base.html' %}
{% load static %}
{% block title %}{{ user.username }}{% endblock title %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">
{% endblock link %}
{% block script %}
    <script type="text/javascript">

        function uploadImage(filesParent){
            $(".picFrame .link, .picFrame .drop, .pic").addClass("hidden");
            uploadFile(filesParent.files[0], function(url) {
                var filename = url.substring(url.lastIndexOf("/")+1);
                $(".profile-image-file-name").val(filename);
                $(".pic").attr("src", url);
                $(".picFrame").removeClass("hidden");
                $(".picFrame .link, .pic").removeClass("hidden");
                $(".picFrame").addClass("poof");
            }, "{{ user.username }}");
        }

        $(document).ready(function(){
            $(".edit .picFrame .ajaxUpload").click(function(){$(".profile-image-file-input").click()});
            $(".edit .picFrame .remove").click(function(){
                $(".pic").attr("src", "usr/placeholder-profile.jpg");
                $(".profile-image-file-name").val("");
                $(".picFrame .remove").addClass("hidden");
            });
            $(".edit .picFrame").on("dragover", function(jqe) {
                jqe.preventDefault();
            }).on("drop", function(jqe) {
                jqe.preventDefault();
                uploadImage(jqe.originalEvent.dataTransfer);
            });
            $(".profile-image-file-input").change(function(){uploadImage(this);});

            $ ('.error :input').popover({
                placement : 'left',
                container : 'body',
                trigger: 'focus',
                html : true,
                content: function(){return $('.' +$(this).attr('name') + ' .message').html();}
            });
        });
    </script>
{% endblock script %}
{% block content %}
    <div class="container-fluid center-container nedit space-above">
        <div class="row space-below">
            <div class="col-xs-12">
                <div class="page-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="top-text">{{ user.username }}</h5>
                        </div>
                        <div class="col-xl-6 pull-right space-above">
                            <div class="picFrame poof">
                                <img class="pic super-center" src="/uploads/{{ user.hybrid.image }}">
                            </div>
                        </div>
                        <div class="col-xl-6 pull-left space-above">
                            <h1 class="big-title">{{ user.first_name }} {{ user.hybrid.middle_name }} {{ user.last_name }}</h1>
                            <div class="info-block-container">
                                <div class="info-block">
                                    <ul>
                                        {{ user.email }}
                                    </ul>
                                </div>
                                <div class="info-block">
                                    <ul>
                                        <li>
                                            <div class="label">medlem</div>
                                            <div class="info">{{ user }}</div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="label">Medlem av</div>
                                            <div class="info">komitesjekk</div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="label">avgangsår</div>
                                            <div class="info">{{ user.hybrid.graduation_year }}</div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="label">spesialisering</div>
                                            <div class="info">spesialiseringssjekk</div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}