{% extends 'standard_wide.html' %}
{% block text %}
{% if valid %}

    <p>Velg passord:</p>

    <form method="post">{% csrf_token %}
        {{ form.new_password1.errors }}
        <p class="aligned wide"><label for="id_new_password1">Nytt passord:</label>{{ form.new_password1 }}</p>
        {{ form.new_password2.errors }}
        <p class="aligned wide"><label for="id_new_password2">Gjenta passord:</label>{{ form.new_password2 }}</p>
        <p><input type="submit" value="Sett passord" /></p>
    </form>

{% else %}

    <p>Linken ser ut til å være ugyldig/brukt.</p>

{% endif %}

{% endblock %}
