{% extends 'staticpages/about.html' %}
{% load static %}
{% block unstyled_text %}
    <article class="white-box">
        <div class="remove-whitebox-padding">
            <img src="{% static 'img/about/ringen.png' %}" class="center-block img-responsive art-img" width="100%">
        </div>
        <h1>Sivilingeniørstudiet Ingeniørvitenskap og IKT</h1>
        <p>Ingeniørvitenskap og IKT (I&IKT) er en unik og tverrfaglig sivilingeniørutdannelse som utdanner studenter med
            kompetanse innen både IKT og tradisjonelle ingeniørfag. Linjen ble opprettet på bakgrunn av en undersøkelse
            i næringslivet, som viste at det var behov for ingeniører som kan kombinere datatekniske og ingeniørfaglige
            kunnskaper på en helhetlig måte.</p>
        <p>I&IKT har som mål å utdanne sivilingeniører med en tverrfaglig kompetanse. Utvikling av fremtidens teknologi
            vil være avhengig av at vi samtidig kan utvikle nye IKT-løsninger. Dette krever at man kan bygge bro mellom
            datatekniske og ingeniørfaglige utfordringer, og for å oppnå dette må man klare å ha oversikt over hele
            bildet.</p>
        <p>Sivilingeniører fra Ingeniørvitenskap og IKT har den kunnskapen som kreves for å møte disse utfordringene,
            med solid kompetanse innen både den ingeniørfaglige og den datatekniske siden av sitt fagfelt. Studentene
            skal både kunne fylle rollen som fagspesialist og systemutvikler innen sitt fagområde.</p>
    </article>

    <a name="oppbygning" class="anchor"></a>
    <article class="white-box space-above">
        <h2>Oppbygningen av studiet</h2>
        <p>Studieløpet ved I&IKT skiller seg fra andre sivilingeniørlinjer ved at den har et stort fokus på
            tverrfaglighet. I løpet av programmets to første år blir studentene introdusert for grunnleggende
            programmering og systemutvikling på lik linje med studenter fra rene IKT-rettede studieprogram. Samtidig
            blir studentene introdusert til ingeniørfag som mekanikk, fysikk og matematikk. Dette skal gi studentene en
            grundig innføring i fagområder knyttet til programmering, men samtidig et grunnlag til å bygge ut i fra når
            de velger spesialisering videre.
        </p>
        <p>Etter fjerde semester velger studentene spesialisering blant Produkt og prosess, Marin teknikk,
            Konstruksjonsteknikk, Geomatikk og Petroleumsfag. Dette betyr i praksis at studenten følger det faglige
            løpet ved den respektive fordypningen, samtidig som man beholder en rekke IKT-fag ut studieløpet. Målet er
            at en student fra I&IKT skal gå ut med samme dybde i faget som studenter fra samme fagfelt, kunnskap
            tilsvarende en IKT-utdanning på universitetsnivå, og i tillegg ha evnen til å kombinere disse aktivt.</p>
    </article>

    <a name="geomatikk" class="anchor"></a>
    <article class="white-box space-above">
        <h2>Geomatikk</h2>
        <p>Studieretningen geomatikk kombinerer tradisjonelle kartfag med informasjonsteknologi, og studentene innehar kompetanse fra hele prosessen, fra innsamling av data til visualisering og anvendelse. Studentene vil kunne fordype seg i tema som moderne kart, 3D-modeller, GPS, satellittdata, geografisk informasjon, laserskanning og navigasjon, og som ferdigutdannede vil de kunne jobbe innen mange forskjellige områder. Satellittposisjonering og navigasjon, klimaovervåkning ved bruk av satellitter, offshore surveying og produksjon av kartdata og ortofoto med flybilder og laserskanning.</p>
        <p>Studenter som velger geomatikk vil kunne fordype seg videre i en av følgende hovedprofiler: kartografi/geografisk informasjonsvitenskap, fotogrammetri og geodesign.</p>
    </article>

    <a name="konstruksjon" class="anchor"></a>
    <article class="white-box space-above">
        <h2>Konstruksjonsteknikk</h2>
        <p>Studieretningen konstruksjonsteknikk tar for seg konstruksjoner i mange forskjellige målestokker. Alt fra små deler som skruer og bilkomponenter helt til store bygninger, broer og offshorekonstruksjoner. Konstruksjonsteknikk var et av de første fagfeltene som begynte å integrere IKT, og dataverktøy brukes i mange aspekter innen fagfeltet. Studentene som har valgt konstruksjonsteknikk vil ha gode kunnskaper innen styrkeberegninger og visualisering, noe som i dagens samfunn gjøres på data. Studentene har flere veldig teoretiske fag, men som ferdig utdannet vil de også se den praktiske delen teorien baseres på. Studieretningen disponerer nemlig velutstyrte og omfattende laboratorier der man kan observere fysisk oppførsel til aktuelle materialer og konstruksjoner.</p>
        <p>Studenter som velger konstruksjonsteknikk kan velge mellom fire hovedprofiler: beregningsmekanikk, prosjektering av konstruksjoner, marin byggteknikk og geoteknikk.</p>
    </article>

    <a name="marin" class="anchor"></a>
    <article class="white-box space-above">
        <h2>Marin teknikk</h2>
        <p>Å bruke dataverktøy innen den marine næringen er effektivt og viktig, om det gjelder havbruk/fiskeri, skipsfart eller olje- og gassindustrien til havs. Studenter som velger denne retningen vil oppnå gode kunnskaper innenfor eksempelvis numerisk matematikk, modellbygging og sanntidsprogrammering, alle viktige elementer som kan brukes i kombinasjon med maritime fag. En ferdigutdannet student vil kunne drive med dimensjonering av marine konstruksjoner og utføre analyser på disse, vite hvordan man skal planlegge og oppfølge marine operasjoner som omhandler plattformer og rør over og under havoverflaten. I tillegg til å være i stand til å utvikle avanserte, automatiske regulerings- og overvåkningssystemer innen offshoreteknikk, skipsteknikk eller fiskeri/havbruk.</p>
        <p>Studenter som velger marin teknikk kan velge mellom følgende hovedprofiler: Marin konstruksjonsteknikk, marin hydrodynamikk og marin kybernetikk.</p>
    </article>

    <a name="petroleum" class="anchor"></a>
    <article class="white-box space-above">
        <h2>Petroleumsfag</h2>
        <p>Petroleumsindustrien er en av de største bruksområde for datakraft i dag. Utvinning av olje og gass krever store krav til datamodellering, og studenter som velger studieretningen petroleumsfag vil kunne bruke dataverktøy til seismisk tolkning og prosessering, numerisk simulering av strømninger i reservoarer og geologisk modellering av avsetningsmiljø og oljemigrasjon. Numerisk matematikk, metoder for direkte og iterativ løsning av algebraiske ligningssystemer, og modellbygging er også områder i fokus i denne studieretningen.</p>
        <p>Studenter som velger petroleumsfag kan velge mellom fire hovedprofiler: petroleumsteknologi,petroleumsgeofysikk, peteroleumsgeologi og integrerte operasjoner i petroleumsindustrien.</p>
    </article>

    <a name="prosess" class="anchor"></a>
    <article class="white-box space-above">
        <h2>Produkt og prosess</h2>
        <p>Ved studieretningen produkt og prosess vil studentene lære alle sider rundt det å fremskaffe et produkt, helt fra den kreative og innovative delen med ide og design, via konstruksjon og engineering, til produksjon og levering. Retningen kombinerer kunnskap fra forskjellige fagdisipliner i integrerte dataverktøy som bidrar til ingeniørarbeidet på alle områder, blant annet detaljert geometrisk modellering som basis for styrkeberegninger og termiske analyser. Integrerende aktiviteter som produksjonsstyring, logistikk, prosjektledelse og kommunikasjon vil også være områder studentene får kunnskap om.</p>
        <p>Studenter som fordyper seg i produkt og prosess kan velge mellom hovedprofilene produksjon og ledelse, varme- og strømningsteknikk, produktutvikling og materialer og integrerte operasjoner.</p>
    </article>

{% endblock %}
{% block sublinks %}
    <li><a href="#oppbygning">Studiets oppbygning</a></li>
    <li><a href="#geomatikk">Geomatikk</a></li>
    <li><a href="#konstruksjon">Konstruksjonsteknikk</a></li>
    <li><a href="#marin">Marin Teknikk</a></li>
    <li><a href="#petroleum">Petroleumsfag</a></li>
    <li><a href="#prosess">Produkt og prosess</a></li>
{% endblock %}