{% extends 'staticpages/about.html' %}
{% load static %}
{% block text %}
    <article>
        <div class="remove-whitebox-padding">
            <img src="{% static ringen %}" class="center-block img-responsive art-img" width="100%">
        </div>
        <h1>Styret</h1>
        <p>Styret er en samling av representanter fra NTNU og næringslivet, og er det overordnede organet i
            I&IKT-ringen.</p>
        <br>
        <h4>Leder for I&IKT-ringen</h4>
        <p>Terje Midtbø</p>
        <p>Mail: terje.midtbo@ntnu.no</p>
        <br>
        <h4>Representanter fra næringslivet</h4>
        <br>
        <p>Aker Solutions KBe Design: Jon Østmoen</p>
        <p>Mail: jon.ostmoen@akersolutions.com</p>
         
        <p>Focus Software AS: Pål Eskerud</p>
        <p>Mail: pe@focus.no</p>
         
        <p>Logica: Odd Jøran Sagegg</p>
        <p>Mail: odd.joran.sagegg@logica.com</p>
         
        <p>Norkart AS: Sverre Wisløff</p>
        <p>Mail: sverre@norkart.no</p>
         
        <p>Statoil ASA: Jens Grimsgaard</p>
        <p>Mail: jegri@statoil.com</p>
         
        <h4>Representanter fra NTNU</h4>
        <br>
        <p>Asbjørn Rolstadås</p>
        <p>Mail: asbjorn.rolstadas@ntnu.no</p>
         
        <p>Gunnhild Sekkenes Hatlen</p>
        <p>Mail: gunnhild.hatlen@ntnu.no</p>
         
        <p>Jon Atle Gulla</p>
        <p>Mail: jag@idi.ntnu.no</p>
         
        <h4>Studentrepresentanter fra NTNU</h4>
        <br>
        <p>Nicolai Bugge Lyså</p>
        <p>Mail: nalysaa@stud.ntnu.no</p>

        <p>Eivind Brekke Holden</p>
        <p>Mail: eivinbh@stud.ntnu.no</p>

        <p>Martin Amaral Halseide</p>
        <p>Mail: martahal@stud.ntnu.no</p>

    </article>
{% endblock %}