{% extends 'staticpages/about.html' %}
{% load static %}
{% block text %}
    <article>
        <div class="remove-whitebox-padding">
            <img src="{% static 'img/about/ringen.png' %}" class="center-block img-responsive art-img" width="100%">
        </div>
        <h1>Visjon</h1>
        <p>"Vi sikrer kvaliteten for næringslivet"</p>
        <p>I&IKT-ringen skal gjøre studiet I&IKT bedre og sørge for en fremdeles sterk rekruttering av høy kvalitet til
            studiet og næringslivet. Dette gjøres ved å hindre frafall og ved å holde karaktersnittet for
            opptaksstudenter på et høyt nivå.</p>
        <p>Med bakgrunn i finansiering fra I&IKT-ringen og målrettede handlinger fra styret i samarbeidet med innspill
            fra medlemmene skal dette bli en realitet.</p>
        <p>Medlemsbedriftene får en eksklusiv mulighet til å promotere seg ovenfor, og rekruttere studenter med bakgrunn
            fra tradisjonell ingeniørvitenskap med kunnskaper innenfor IKT.</p>
    </article>
{% endblock %}