/* Fonts */


/* cyrillic */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(/static/fonts/Playfair-Display-cyrillic.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(/static/fonts/Playfair-Display-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(/static/fonts/Playfair-Display-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Raleway Dots';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway Dots'), local('RalewayDots-Regular'), url(/static/fonts/Raleway-Dots-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Raleway Dots';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway Dots'), local('RalewayDots-Regular'), url(/static/fonts/Raleway-Dots-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Raleway-Light';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway-Light'), local('RalewayDots-Regular'), url(/static/lib/fonts/Raleway-Light.ttf) format('truetype');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;

}

body {
    /*background: #005675*/
    background: #cbc9c2 url("/static/img/kilt4.jpg") repeat;
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
}

article {
    word-wrap: break-word;
}

#feedbackBox {
    right: -100%;
    bottom: 62px;
    width: 500px;
    height: 400px;
    padding: 16px;
    z-index: 50000;
    transition: right 0.2s ease;
}

#feedbackBox .feedbackContainer {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0 30px 20px;
}

#feedbackBox h2 {
    text-align: center
}

#feedbackBox #feedbackContent {
    resize: none;
    width: 100%;
    height: 50%;
    margin-bottom: 5px;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}

@media (max-width: 767px) {
    #feedbackBox {
        width: 100%;
        height: 100%;
        padding-top: 78px;
    }
}

#logo {
    margin-top: 4px;
    height: 82px;
    z-index: 99999;
}

#home {
    padding: 0;
    margin: 0;
    z-index: 99999;
}

#content {
    min-height: calc(100vh - 50px);
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 0.4em;
}

h1 {
    font-size: 3.2em;
    color: #005675;
}

h2 {
    text-align: inherit;
    font-size: 2.5em;
    color: #000;
}

h1 + h3 {
    font-size: 2.5em;
    color: #9e9d98;
    margin-top: -0.5em;
}

a {
    text-decoration: none;
    color: #9e9d98;
}

a:hover {
    text-decoration: none;
    text-underline: none !important;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.square_img {
    width: 5em;
    height: 5em;
    overflow: hidden;
}

.square_img img {
    width: 100%;
}

.btn {
    font-family: Raleway, sans-serif;
}

.navbar-default {
    background-color: white;
    background-image: none;
}

.navbar {
    border: none;
    text-align: center;
    vertical-align: bottom;
    font-size: 14px;
}

.navbar li > a{
    padding-right: 8px;
    padding-left: 8px;
}

.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

.styled-image,
.progress,
.btn,
.form-control,
.white-box,
.dropdown-menu,
.sidebar-links a {
    border-radius: 0;
}

.error {
    color: #7c3f63;
}

.progress {
    position: relative;
}

.fixed-bottom-right {
    position: fixed;
    z-index: 9999;
    bottom: 16px;
    right: 16px;
}

.white-box {
    background-color: #fff;
    padding: 20px;
    overflow: auto;
}

.unstyled-box {
    padding: 20px;
}

.art-img {
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.clearfix {
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.navbar,
#banner,
.white-box,
.styled-image,
.drop-shadow,
.sidebar-links a {
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

#banner {
    width: 100%;
    position: relative;

}

.top-text {
    margin: 0 0 10px;
    padding: 0 0 5px;
    border-bottom: 2px solid #9e9d98;
    font: normal 16px "Playfair Display", serif;
    text-transform: uppercase;
    color: #9e9d98;
}

.space-above {
    margin-top: 15px;
}

.space-below {
    margin-bottom: 20px;
}

.row.inverted,
.inverted {
    background-color: #496873;
    color: #fff;
}

.inverted a,
a.inverted {
    color: #fff;
}

.info-table {
    margin: auto;
}

.info-table td {
    padding: .5em 1.5em;
    text-align: left;
}

.info-table td:first-child {
    border-right: solid lightslategray;
    text-align: right;
}

.image-info-overlay {
    width: 100%;
    margin-top: -100px;
    min-height: 100px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
}

.image-info-overlay div {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-shadow: 0 0 2px #000;
    font-weight: bold;
    padding: 0 4px;
}

.remove-whitebox-padding {
    margin: -20px;
}

.sidebar-links {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-links ul {
    list-style: none;
}

.sidebar-links > li {
    width: 100%;
    display: block;
}

.sidebar-links a {
    padding: 12px;
    line-height: 20px;
    display: block;
    font-size: large;
    transition: 100ms;
    margin-top: 4px;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #005675;
}

.sidebar-links > li:first-child > a {
    margin-top: 0;
}

.sidebar-links a:hover {
    transform: translate(4px, 0)
}

.anchor {
    position: absolute;
    margin-top: -50px;
}

#griff_fill {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
    transition: 1s;
}

#griff_border {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, .5));
}

#griff_fill:hover {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, .5));
    transform: translate(-.5%, -.5%) scale(1.01, 1.01);
}

.ringen_company_logo:hover {
    transition: 2s;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, .5));
}

#footer {
    background-color: #005675;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, .5);
    overflow: visible;
    padding-top: 10vw;
}

#ringen {
    overflow: visible;
    height: 100%;
    width: 100%;
}

.navbar-login {
    padding: 15px;
}

.comma_seperated + .comma_seperated:before {
    content: ', ';
}

.list {
    list-style: none;
}

.list div {
    border-bottom: dotted thin;
    padding: 4px;
}

.list a {
    color: black;
    white-space: nowrap;
}

.list time {
    float: right;
}

.list span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 8px;
}

.list i {
    float: left;
    vertical-align: middle;
    line-height: inherit;
    margin-right: 8px;
}

.social-bar {
    font-size: 4em;
    text-align: center;
}

.social-bar svg {
    height: 1em;
    display: inline-block;
    vertical-align: -.14em;
}

.unstyled-list {
    list-style: none;
}

.unstyled-list ul {
    list-style: none;
}

.holte span {
    margin-left: 25px;
}

/**
 * Bootstrap:
 * 'xs': any size    -- Extra small, for phones
 * 'sm': 768 and up  -- Small, for tablets
 * 'md': 992 and up  -- Medium, for smaller pcs
 * 'lg': 1200 and up -- Large, for larger pcs
 *
 * 'xl': 1600 and up -- Extra large, for even larger pcs. Not standard.
 *
 * Since bootstrap uses "mobile first", we will do the same, meaning
 * design so that it looks good on small screens, then add @media rules
 * where needed to make it look good on bigger screens as well
 **/

@media (min-width: 768px) {
    .navbar-login {
        padding: 0;
    }

    #footer {
        padding-top: 80px;
    }
}

@media (min-width: 992px) {

    #footer {
        padding-top: 75px;
    }

    article {
        font-size: 16px;
    }

    .navbar li > a{
        padding-right: 16px;
        padding-left: 16px;
    }

}

@media (min-width: 1200px) {
    #home {
        margin-right: 32px;
    }

    #footer {
        padding-top: 100px;
    }
}

@media (min-width: 1600px) {
}

@media (min-width: 3000px) {
}

@media (max-width: 768px){
        h2.variable-size{
        font-size: 1.4em;
    }
}
@media (max-width: 992px) {

    #nav-container {
        width: 100%;
        padding: 0;
    }

    .hidden-on-sm {
        display: none;
    }

    .holte {
        margin-right: 15px;
        margin-left: 0;
    }

}
