{% extends 'jobannoucements/job_sidebar.html' %}
{% block unstyled_text %}
    <style>

    .logo{
        position: relative;
        height: auto;
        width: auto;
        max-height: 180px;
        max-width: 200px;
        padding-left: 20px;
    }
    .text{
        font-size: 18px;
        line-height: 28px;
        padding-left: 245px;
    }
    .job_list{
        height: auto;
        display: inline-block;
    }

    </style>
    {% if priorities %}
        <div class="white-box space-above">
            <h2>Fremhevede Stillingsutlysninger</h2>
            {% for job in priorities %}
            <div class="job_list">
            <hr>
                <div>
                    <a  href="{{ job.pk }}">
                        <img class="logo" src="/uploads/{{ job.company.logo }}" align="left">
                    </a>
                    <div class="text">
                        <b>Tittel: </b>
                        <a href="{{ job.pk }}">
                            {{ job.title }}
                        </a>
                        <br><b>Bedrift: </b>{{ job.company.name }}
                        <br><b>Søknadsfrist: </b>{{ job.deadline }}
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    {% endif %}
    {% if jobs %}
        <div class="white-box space-above">
            <h2>{{ status }} Stillingsutlysninger</h2>
            {% for job in jobs %}
            <hr>
            <div class="job_list" >
                <div>
                    <a href="{{ job.pk }}">
                        <img class="logo" src="/uploads/{{ job.company.logo }}" align="left">
                    </a>
                    <div class="text">
                        <b>Tittel: </b>
                        <a href="{{ job.pk }}">
                            {{ job.title }}
                        </a>
                        <br><b>Bedrift: </b>{{ job.company.name }}
                        <br><b>Søknadsfrist: </b>{{ job.deadline }}
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    {% endif %}
    {% if not priorities and not jobs %}
        <div class="white-box space-above">
            <h2>Det finnes for øyeblikket ingen {{ status.lower }} stillingsutlysninger</h2>
        </div>
    {% endif %}
{% endblock %}

