{% extends 'jobannoucements/job_sidebar.html' %}
{% block text %}
    <h2>Aktive Stillingsutlysninger</h2>
    {% for job in jobs %}
        <div class="job" style="background-color: yellow; height: 12em"  >
            <div>
                <a href="{{ job.pk }}">
                    <img id="logo" src="/uploads/{{ job.company.logo }}" style="height: 11.5em; padding-left: 3px;" align="left" width="200em">
                </a>
            </div>
            <div style="padding-left: 250px; font-size: 20px" align="left">
                <div class="title">
                    <b>Tittel: </b>
                    <a href="{{ job.pk }}">
                        {{ job.title }}
                    </a>
                </div>
                <div class="company">
                    <b>Bedrift: </b>{{ job.company.name }}
                </div>
                <div class="deadline">
                    <b>Søknadsfrist: </b>{{ job.deadline }}
                </div>

            </div>
       </div>
        <br>
    {% endfor %}
{% endblock %}

