{% extends 'jobannoucements/job_sidebar.html' %}
{% block unstyled_text %}
    <style>
    .button {
        border:none;
        background-color: transparent;
        color:#005675;
        text-align: center;
        font-size: 21px;
        cursor: pointer;
        align-self: center;
        width: 100%;
        height: 100%;
    }
    a{
        color: #005675;
    }
</style>
        <div class="white-box space-above">
        <h2>Administrer Stillingsutlysnigner</h2>
        <form action="" method="post">
            <table width="100%" class="table table-bordered" align="center">
                <thead>
                    <tr>
                        <th class="col-xs-6">Tittel</th>
                        <th class="col-xs-2">Bedrift</th>
                        <th class="col-xs-2">Søknadsfrist</th>
                        <th class="col-xs-1">Endre</th>

                    </tr>
                </thead>
                <tbody>
                {% csrf_token %}
                    {% for job in jobs %}
                        <tr>
                            <td>
                                <a href="/stillingsutlysninger/{{ job.pk }}">{{ job.title }}</a>
                            </td>
                            <td align="Center" style="word-wrap: break-word; max-width: 40em;">
                                {{ job.company.name }}
                            </td>
                            <td align="center">
                                {{ job.deadline.date }}
                            </td>
                            <td>
                                 <a href="{% url 'admin:jobannouncements_job_change' job.pk %}">
                                    <p class="glyphicon glyphicon-pencil" style="font-size: 22px" aria-hidden="true"></p>
                                 </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>

    </div>
{% endblock %}