<div class="list">
    {% for job in job_list %}
        <div>
            <a href="{% url 'jobs:job_detail' job.pk %}">
                   <i class="fa fa-square"
                   style="color:#005675"
                   aria-hidden="true"></i>
                <time datetime="{{ job.deadline|date:'c' }}">
                    {{ job.deadline|date:'d. b' }}
                </time>
                <span>
                    {{ job }}
                </span>
        </a>
        </div>
    {% endfor %}
</div>
