{% extends 'jobannoucements/job_sidebar.html' %}
{% load widget_tweaks %}
{% load static %}

{% block text %}
    <h3>{{ action }} Stillingsutlysning</h3>
     <form method="POST" class="post-form">{% csrf_token %}
        <div class="form-group">
            <label for="id_title">Tittel:</label>
            {{ form.title|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="id_company">Bedrift:</label>
            {{ form.company|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="id_deadline">Søknadsfrist:</label>
            {{ form.deadline|add_class:"form-control form_datetime" }}
        </div>
        <div class="form-group">
            <label for="id_text">Tekst:</label>
            {{ form.description|add_class:"form-control" }}
        </div>
         <div class="form-group">
            <label for="id_text">Tekst:</label>
            {{ form.priority|add_class:"form-control" }}
        </div>
        <button type="submit" value="Save" class="btn btn-primary">Lagre</button>
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/locales/bootstrap-datetimepicker.no.js' %}"
            charset="UTF-8"></script>
    <script type="text/javascript">
        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    </script>
{% endblock script %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}