{% extends 'standard_sidebar.html' %}
{% block unstyled_sidebar %}
    <style>
        h2{
            font-size: 25px;
        }
        a{
            color:#005675;
        }
    </style>
    <div class="white-box space-above">
    <h3>Stillingsutlysninger</h3>
    <li>
        <a href="{% url 'jobs:info' %}">Vis aktive</a>
    </li>
    <li>
        <a href="{% url 'jobs:job_previous' %}">Vis tidligere</a>
    </li>
    </div>

    {% if perms.job.add_job %}
    <div class="white-box space-above">
        <h3>Admin</h3>
        <li>
        <a href="{%  url 'admin:jobannouncements_job_add'%}">Lag ny</a>
        </li>
        <li>
            <a href="{% url 'jobs:admin' %}">Oversikt</a>
        </li>
    </div>
    {% endif %}
    <div class="white-box space-above">
        <img src="/uploads/{{ job.company.logo }}" class="center-block img-responsive art-img" width="100%">
        <br>
        <p><b>Bedrift:</b> {{ job.company.name }} </p>
    </div>
{% endblock %}
