{% extends 'standard_sidebar.html' %}
{%  block sidebar %}
    <h2> Kiltbestilling </h2>
    <li>
        <a href="{% url 'kilt:info' %}">Info</a>
    </li>
    <li>
        <a href="{% url 'kilt:shop' %}">Shop</a>
    </li>
    <li>
        <a href="{% url 'kilt:order' %}">Bestilling</a>
    </li>
    {% if request.user.is_superuser %}
    <li>
        <a href="{% url 'kilt:admin' %}">Admin</a>
    </li>
    {% endif %}
    <li>
        <a href="https://sportkilt.com/" target="_blank" >Sport Kilt</a>
    </li>
{%  endblock %}
{% block text %}
<style>
    .text-center{
     font-size: 3em;
    }
    #kiltkat {
        box-shadow: 8px 8px 10px #aaa;
        border-radius: 30%;
        display: block;
        margin: 0 auto;
        width:300px;
        height:300px;
        overflow:hidden;
    }
</style>
{% if request.user.is_superuser %}
    <div class="container" style="width:100%;">
        <h1>Administrasjon </h1>

        <form action="admin.html" method="post">
        {% csrf_token %}
            <!-- Tidstabell -->
            <div id="timetable">
                <p class ="text-center" >Tider:</p>
                <table class="table table-bordered" style="width:100%" id="comment_table">
                    <thead>
                        <tr>
                            <th class="col-xs-3">Start</th>
                            <th class="col-xs-3">Slutt</th>
                            <th class="col-xs-2">Status</th>
                            <th class="col-xs-2">Vis</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for timeframe in orderinfo %}
                            {% if timeframe.status %}
                                <tr style="background-color: #90ee90">
                            {% else %}
                                <tr  style="background-color: #FDD">
                            {% endif %}
                                <!--  Liste over stattider -->
                                    <td>
                                        {{ timeframe.startTime }}
                                    </td>
                                    <!-- liste over slutttider-->
                                    <td style="word-wrap: break-word; max-width: 40em;">
                                        {{ timeframe.endTime }}
                                    </td>
                                    <!-- status på ordren -->
                                    <td style="word-wrap: break-word; max-width: 40em;">
                                        {% if timeframe.status %}
                                            Aktiv
                                        {% else %}
                                            Avsluttet
                                        {% endif %}
                                    </td>
                                    <!-- knapp som viser ordrene i liste under. -->
                                    <td style="word-wrap: break-word; max-width: 40em;">
                                        <input type="submit" value="Vis Bestilling">
                                    </td>
                                </tr>
                        {% endfor %}
                            <tr>
                                <td><input maxlength="10" size="7" type="text" value="yyyy-mm-dd" name="start" id="start"></td>
                                <td><input maxlength="10" size="7" type="text" value="yyyy-mm-dd" name="slutt" id="slutt"></td>
                                <td>Ikke opprettet</td>
                                <td><input name="createTime" type="submit" value="Lag tidsrom"></td>
                            </tr>
                    </tbody>
                </table>
            <hr/>
            </div>

            <!-- Ordre (totalt) -->
            <div id="allorders">
                <p class ="text-center" >Bestilling:</p>
                <table class="table table-bordered" style="width:100%" id="orders_table">
                    <thead>
                        <tr>
                            <th class="col-xs-5">Produkt</th>
                            <th class="col-xs-3">Størrelse</th>
                            <th class="col-xs-3">Antall</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in ordered_products %}
                            <tr>
                                <!--  Liste over alle produkt (pluss størrelser) -->
                                <td>
                                        {{ item.0 }}
                                </td>

                                <!-- Evt størrelser-->
                                <td align="Center" style="word-wrap: break-word; max-width: 40em;">
                                    {{ item.1 }}
                                </td>
                                <!-- Antall bestitlt -->
                                <td align="Center"  style="word-wrap: break-word; max-width: 40em;">
                                    {{ item.2 }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <hr/>
            </div>

           <!-- Ordre (for enkelt bruker) -->
            <div id="userorder" align="center">
                <select name="selected_user" id="{{ user.id }}">
                        <option value="-1">Ingen</option>
                    {% for order in orders %}
                        <option value="{{ order.user.pk }}"> ({{ order.user.pk }}) {{ order.user.first_name }} {{ order.user.middle_name }} {{ order.user.last_name }} </option>
                    {% endfor %}
                </select>
                <input name="showUser" type="submit" value="Vis bestilling">

                {% if not user_order == None %}
                    <div class="clearfix"></div>
                    <h2 style="font-size: 2em; padding-top: 1em"> Bestilling for {{ user_order.user.first_name }} {{ user_order.user.middle_name }} {{ user_order.user.last_name }} </h2>
                    <table class="table table-bordereds" >
                        <thead class="table-header">
                            <tr>
                                <th class="col-xs-4">Produkt</th>
                                <th class="col-xs-2">Type</th>
                                <th class="col-xs-2">Størrelse</th>
                                <th class="col-xs-1">Antall</th>
                            </tr>
                        </thead>

                        {% for item in user_products %}
                            <tr class="table-items">
                                <td>
                                    {{ item.name }}
                                </td>
                                <td>
                                    {% if item.type == 'K' %}
                                        Kilt
                                    {% elif item.type == 'S' %}
                                        Sporran
                                    {% else %}
                                        Ekstra
                                    {% endif %}
                                </td>
                                <td>
                                {% if item.type == 'K' %}
                                    {% for info in user_productinfo %}
                                        {% if info.product_id == item.pk %}
                                            {{ info.size }}
                                        {% endif %}
                                    {% endfor %}
                                {% elif item.type == 'E' %}
                                    {% for info in user_productinfo %}
                                        {% if info.product_id == item.pk %}
                                            {% if not item.name == 'Sokker' and not item.name == 'Flashes' %}
                                                {{ info.size }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                                </td>
                                <td>
                                 {% for info in user_productinfo %}
                                        {% if info.product_id == item.pk %}
                                            {{ info.number }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            <hr>
            </div>


        </form>
        <!-- Kommentarer -->
        <div id="comments">
            <p class ="text-center" style="font-size: 20px">Kommentarer:</p>
            <table class="table table-bordered" style="width:100%" id="comment_table">
                <thead>
                    <tr>
                        <th class="col-xs-4">Navn</th>
                        <th class="col-xs-8">Kommentar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        {% if order.comment %}
                            <tr class="table-items">
                                <th>
                                    {{ order.user.first_name }}  {{ order.user.last_name }}
                                </th>
                                <td style="word-wrap: break-word; max-width: 40em;">
                                    {{ order.comment }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
 </div>
{% else %}
        <p class=text-center style="padding-bottom: 0.15em" align="middle"> Kun tilgjengelig for admin</p>
        <img src=../../static/img/kiltkat.jpg id="kiltkat" align="middle">
        <p align="middle" style="padding-top: 0.4em">"u no has access"</p>
{% endif %}
{% endblock %}