{% extends 'kiltshop/sidebar.html' %}
{% block text %}

<style>

    #table1 tr th{
    width:25%;}

    .table-items{
        font-size: 20px;
    }

    .table-header{
        font-size: 1.5em;
        font-style: italic;
    }

    .button{
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;++
        outline:none;
    }

    @media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }

    @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
}


</style>

<div class="responsive">
{% if not products and not order.comment %}
    <h2 id="notfound">Finner ingen bestilling for {{ request.user }}</h2>
{% else %}
    <form action="" method="post">
    {% csrf_token %}
    {% if products %}
        <h2>Din bestilling:</h2>
        <div class="table-responsive">
            <table class="table table-bordereds" >
                <thead class="table-header">
                    <tr>
                        <th class="col-xs-7">Produkt</th>
                        <th class="col-xs-2">Type</th>
                        <th class="col-xs-2">Størrelse</th>
                        <th class="col-xs-1">Antall</th>
                    </tr>
                </thead>
                {% for item in products %}
                    <tr class="table-items">
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.get_type_display }}
                        </td>
                        <td>
                            {% if item.type == 'K' %}
                                {% for info in productInfo %}
                                    {% if info.product_id == item.pk %}
                                        {{ info.size }}
                                    {% endif %}
                                {% endfor %}
                            {% elif item.type == 'E' %}
                                {% for info in productInfo %}
                                    {% if info.product_id == item.pk %}
                                        {% if not item.name == 'Sokker' and not item.name == 'Flashes' %}
                                            {{ info.size }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% for info in productInfo %}
                                {% if info.product_id == item.pk %}
                                    {{ info.number }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% if activated %}
                            <td><button class="button" name="delete_product" type="submit" value="{{ item.pk }}"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if order.comment %}
        <div class="responsive" style="display: block; word-wrap: break-word;">
            <table class="table table-bordereds" >
                <thead class="table-header">
                    <tr>
                        <th class="col-xs-11">Kommentar:    </th>
                        <th class="col-xs-1"></th>
                    </tr>
                </thead>
                <tr class="table-items">
                    <td>{{ order.comment }}</td>
                    <td><button  style="font-size: 1.5em; padding-top: 1em" class="button" name="delete_comment" type="submit" value="{{ order.pk }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </button></td>
                </tr>
            </table>
        <hr>
        </div>
    {% endif %}
    </form>
{% endif %}
</div>
{% endblock %}
