{% extends 'kiltbestilling/sidebar.html' %}
{% block content2 %}

  <div class="info">
	<h2> Info </h2>
	<p>
		Nå har du endelig mulighet til å skaffe deg Hybrida-kilten.
	</p>
	<p>
		Kiltene vil bli bestilt fra
		<a href="http://www.sportkilt.com">sportkilt.com</a>,
		 vi har valgt å gå for Irisher fargene og kilten finnes
		 også i damefasong for jentene, eller minikilt.
	</p>
	<p>
		Alle kiltene kommer med fringes (frynser), sewn-down pleats
		 og buckle closure (belte på siden).
	</p>
	<p>
		Av tilbehør finnes:
		<ul>
			<li>
				<a href="http://www.sportkilt.com/index.php?1&p=view_category&category_id=220">
					Sporran </a>
			</li>
			<li>
				<a href="http://www.sportkilt.com/product/721/Kilt-Hose---Regular.html">
					Sokker </a>
			</li>
			<li>
				<a href="http://www.sportkilt.com/product/8651/Irisher-Flashes.html">
					Flashes </a>
		</ul>
	</p>
	<p>
		Sokkene fåes bare i hvitt, vi skal jo ikke ha noen som går rundt med røde sokker!
		For priser vennligst følg linkene til <a href="http://www.sportkilt.com">Sportkilt</a> da de kan endres.
	</p>
	<p>
		Om du vil ha noe annet fra sportkilt.com, spesielle ønsker osv, kan du skrive ekstra info under Annet når du bestiller
		så skal vi se hva vi kan få til.
	</p>

	<h2> Størrelser</h2>

	<h3>Guttemodeller</h3>
	<table border="1" width="400">
		<tbody>
			<tr>
				<td width="200">
					Størrelse</td>
				<td width="200">
				   Centimeter rundt livet</td>
			</tr>
			<tr>
				<td>
					Small (S)</td>
				<td>
					 63,5 - 76</td>
			</tr>
			<tr>
				<td>
					Medium (M)</td>
				<td>
					68,5 - 84</td>
			</tr>
			<tr>
				<td>
					Medium Long (ML)</td>
				<td>
					68,5 - 84</td>
			</tr>
			<tr>
				<td>
					Large (L)</td>
				<td>
					86,5 - 96,5</td*/>
			</tr>
			<tr>
				<td>
					Extra Large (XL)</td>
				<td>
					99,0 - 117</td>
			</tr>
			<tr>
				<td>
					Extra Extra Large (XXL)</td>
				<td>
					119,5 - 147</td>
			</tr>
		</tbody>
	</table>
	Det anbefales å kjøpe Medium Long dersom du er høyere enn 175cm

	<h3>Jentemodeller</h3>
	<table border="1" width="400">
		<tbody>
			<tr>
				<td width="200">
					Størrelse</td>
				<td width="200">
					Centimeter rundt livet</td>
			</tr>
			<tr>
				<td>
					Small</td>
				<td>
					63,5 - 76</td>
			</tr>
			<tr>
				<td>
					Medium</td>
				<td>
					68,5 - 84</td>
			</tr>
			<tr>
				<td>
					Large</td>
				<td>
					86,5 - 96,5</td>
			</tr>
			<tr>
				<td>
					Extra Large</td>
				<td>
					99,0 - 112</td>
			</tr>
		</tbody>
	</table>
</div>


{% endblock %}a
