{% extends 'kiltshop/sidebar.html' %}
{% block text %}
<style>

    h2#table-header {
        font-size: 16pt;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #000000 !important;
    }


</style>

<div class="info">

	<h2> Informasjon </h2>
	<p>
		Nå har du endelig muligheten til å skaffe deg Hybrida-kilten! Vi bestiller kiltene våre fra nettsiden <a href="https://Sportkilt.com" target="_blank" style="color: #003366"> Sportkilt.com</a>
	</p>
    <p>
        I Hybrida bruker vi kiltmønsteret som heter Irisher. I tillegg til ulike størrelserfor menn, finnes den også i damefasong for jentene, eller minikilt.
    </p>
	<p>
		Alle kiltene kommer med frynser(fringes) og belte med spenner på siden( buckle closure) med mindre annet er oppgitt. Herrekiltene kommer i tilleg med innsydd bak(sewn-down pleats).
	</p>

	<p>
		Av tilbehør kan man bestille:
		<ul>
			<li>
				<a href="http://www.sportkilt.com/product/721/Kilt-Hose---Regular.html" target="_blank" style="color: #003366"> Sokker </a>
			</li>
			<li>
				<a href="http://www.sportkilt.com/product/8651/Irisher-Flashes.html" target="_blank" style="color: #003366"> Flashes </a>
            </li>
		</ul>
    <p>For gutter:</p>
    <ul>
    <li>
        <a href="http://www.sportkilt.com/index.php?1&p=view_category&category_id=220" target="_blank" style="color: #003366">	Sporran </a>
    </li></ul>

	<p>
		Sokkene er kun tilgjengelig i hvitt, vi kan jo ikke ha noen som går rundt med røde sokker! For priser kan man se på <a href="http://www.sportkilt.com" target="_blank"> Sportkilt</a> men disse kan endres ved større forsendelser.
	</p>
	<p>
		Om du vil ha noe annet fra sportkilt, spesielle ønsker osv, kan du skrive ekstra info under Kommentar når du bestiller så skal vi se hva vi kan få til.
	</p>
	<h2> Størrelser</h2>
</div>

<div class="size-tables">

	<h2 id="table-header"> Guttemodeller </h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-xs-6">Størrelse</th>
                <th class="col-xs-6">Centimeter rundt livet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Small
                </td>
                <td>
                    63,5 - 76
                </td>
            </tr>
            <tr>
                <td>
                    Medium
                </td>
                <td>
                    68,5 - 84
                </td>
            </tr>
            <tr>
                <td>
                    Medium Long
                </td>
                <td>
                    68,5 - 84
                </td>
            </tr>
            <tr>
                <td>
                    Large
                </td>
                <td>
                    86,5 - 96,5
                </td>
            </tr>
            <tr>
                <td>
                    Extra Large (XL)
                </td>
                <td>
                    99,0 - 117
                </td>
            </tr>
            <tr>
                <td>
                    Extra Extra Large (XXL)
                </td>
                <td>
                    119,5 - 147
                </td>
            </tr>
        </tbody>
    </table>
	<p> Det anbefales å kjøpe Medium Long dersom du er høyere enn 175cm </p>

	<h2 id="table-header">Jentemodeller</h2>
	<table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-xs-6">Størrelse</th>
                <th class="col-xs-6">Centimeter rundt livet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Small
                </td>
                <td>
                    63,5 - 76
                </td>
            </tr>
            <tr>
                <td>
                    Medium
                </td>
                <td>
                    68,5 - 84
                </td>
            </tr>
            <tr>
                <td>
                    Large
                </td>
                <td>
                    86,5 - 96,5
                </td>
            </tr>
            <tr>
                <td>
                    Extra Large (XL)
                </td>
                <td>
                    99,0 - 117
                </td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}