{% extends 'kiltshop/sidebar.html' %}
{% load widget_tweaks %}
{% load static %}
<style>
    @media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }

    @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }
</style>
{% block text %}
    <div class="responsive">
        <h2>Bestilling: {{ period.start_time }} - {{ period.end_time }}</h2>
        <a href="{% url 'kilt:download_as_excel' period.pk %}">Last ned som excel-ark</a>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <div id="allorders">
                <p style="font-size: 2em;">Antall produkter:</p>
                <table class="table table-bordered" style="width:100%" id="orders_table">
                    <thead>
                    <tr>
                        <th class="col-xs-5">Produkt</th>
                        <th class="col-xs-3">Størrelse</th>
                        <th class="col-xs-3">Antall</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in ordered_products %}
                        <tr>
                            <!-- List of product+size combinations, with counts -->

                            <!-- Product name -->
                            <td>{{ item.0 }}</td>
                            <!-- Size -->
                            <td align="Center" style="word-wrap: break-word; max-width: 40em;">
                                {% if not item.1 %}
                                    -
                                {% else %}
                                    {{ item.1 }}
                                {% endif %}
                            </td>
                            <!-- Amount ordered -->
                            <td align="Center" style="word-wrap: break-word; max-width: 40em;">
                                {{ item.2 }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Ordre (for enkelt bruker) -->
            <div id="userorder" align="center">
                <select title="Velg person for å se bestilling" name="selected_user" id="{{ user.id }}">
                    <option value="-1">Ingen</option>
                    {% for order in orders %}
                        <option style="background-color: {% if order.status %}#90ee90{% else %}#FDD{% endif %}"
                                value="{{ order.user.pk }}">
                            ({{ order.user.pk }}) {{ order.user.full_name }}
                        </option>
                    {% endfor %}
                </select>
                <input name="showUser" type="submit" value="Vis bestilling">

                {% if not user_order == None %}
                    <div class="clearfix"></div>
                    <h2 style="font-size: 2em; padding-top: 1em"> Bestilling for {{ user_order.user.full_name }} </h2>
                    <table class="table table-bordereds">
                        <thead class="table-header">
                        <tr>
                            <th class="col-xs-4">Produkt</th>
                            <th class="col-xs-2">Type</th>
                            <th class="col-xs-2">Størrelse</th>
                            <th class="col-xs-1">Antall</th>
                        </tr>
                        </thead>

                        {% for info in user_productinfos %}
                            <tr class="table-items">
                                <td>{{ info.product.name }}</td>
                                <td>{{ info.product.get_type_display }}</td>
                                <td>
                                    {% if info.size != None %}
                                        {{ info.size }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ info.number }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% with status=user_order.status %}
                        <label style="padding-right: 3em; color: {% if status %}#449d44{% else %}#ba2121{% endif %}">
                            Status: {% if status %}Betalt{% else %}Ikke betalt{% endif %}
                        </label>
                        <label style="padding-right: 2em" class="block">
                            <input type="radio" name="order_status" value="True:{{ user_order.pk }}"
                                   {% if status %}checked="checked"{% endif %}>
                            Betalt
                        </label>
                        <label style="padding-right: 2em" class="block">
                            <input type="radio" name="order_status" value="False:{{ user_order.pk }}"
                                   {% if not status %}checked="checked"{% endif %}>
                            Ikke betalt
                        </label>
                        <input name="change_status" type="submit" value="Lagre">
                    {% endwith %}
                {% endif %}
                <hr>
            </div>
        </form>
        <!-- Order comments -->
        <p align="center" style="font-size: 2em;">Kommentarer:</p>
        <table class="table table-bordered" style="width:100%" id="comment_table">
            <thead>
            <tr>
                <th class="col-xs-4">Navn</th>
                <th class="col-xs-8">Kommentar</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                {% if order.comment %}
                    <tr class="table-items">
                        <th>
                            ({{ order.user.pk }}) {{ order.user.full_name }}
                        </th>
                        <td style="word-wrap: break-word; max-width: 40em;">
                            {{ order.comment }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}