{% extends 'kiltshop/sidebar.html' %}
{% block text %}
    <style>
        .button {
            border: none;
            background-color: transparent;
            color: #005675;
            text-align: center;
            font-size: 21px;
            cursor: pointer;
            align-self: center;
            width: 100%;
            height: 100%;
        }

        a {
            color: #005675;
        }
    </style>
    {% load widget_tweaks %}
    {% load static %}
    <h1 align="center">Bestillingsoversikt</h1>
    {% csrf_token %}
    <form action="" method="post">
        {% csrf_token %}
        <div id="timetable">
            <div class="table-responsive">
                <table class="table table-bordered" style="width:100%" id="comment_table">
                    <thead>
                    <tr>
                        <th class="col-xs-1">Vis</th>
                        <th class="col-xs-4">Start</th>
                        <th class="col-xs-4">Slutt</th>
                        <th class="col-xs-4">Status</th>
                        <th class="col-xs-1">Endre</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for period in periods %}
                        <tr style="background-color: {% if period.is_active %}#90ee90{% else %}#FDD{% endif %}">
                            <td>
                                <button class="button" name="show_period" type="submit" value="{{ period.pk }}">
                                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>{{ period.start_time }}</td>
                            <td>{{ period.end_time }}</td>
                            {% if period.is_active %}
                                <td>Aktiv</td>
                            {% else %}
                                {% if period.is_waiting %}
                                    <td>Ikke startet</td>
                                {% else %}
                                    <td>Avsluttet</td>
                                {% endif %}
                            {% endif %}
                            <td>
                                <button class="button" name="edit_period" type="submit" value="{{ period.pk }}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/locales/bootstrap-datetimepicker.no.js' %}"
            charset="UTF-8"></script>
    <script type="text/javascript">
        $('input[name="start"]').datetimepicker({format: 'yyyy-mm-dd hh:ii'});
        $('input[name="slutt"]').datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    </script>
{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}