{% extends 'kiltshop/sidebar.html' %}
{% load widget_tweaks %}
{% load static %}
{% block text %}
    <h3>{% if new %}Oprett ny{% else %}Endre{% endif %} Bestillingsperiode</h3>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.non_field_errors }}
        <table class="table table-bordered" style="width:100%" id="comment_table">
            <thead>
            <tr>
                <th class="col-xs-5">Start:</th>
                <th class="col-xs-5">Slutt:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ form.start_time|add_class:"form_datetime" }}
                    {{ form.start_time.errors }}
                </td>
                <td>
                    {{ form.end_time|add_class:"form_datetime" }}
                    {{ form.end_time.errors }}
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            Brukere av nettsiden vil kunne legge inn bestillinger helt til slutt-tiden går ut.
            Ønsker man å utvide den kan man redigere tiden her.
            Dersom man ønsker å slette en bestillingsrekke ber jeg deg kontakte vevsjef.
        </p>
        <button type="submit" value="Save" class="btn btn-primary">Lagre</button>
    </form>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/locales/bootstrap-datetimepicker.no.js' %}"
            charset="UTF-8"></script>
    <script type="text/javascript">
        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    </script>
{% endblock script %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}