{% extends 'kiltshop/sidebar.html' %}
{% block content2 %}

    <style>


        div.img:hover {
        }

        div.img img {
        }

        div.desc {
            padding: 15px;
            font-size: 20px;
            text-align: center;
        }

        * {
            box-sizing: border-box;
        }

        .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;
        }

        @media only screen and (max-width: 700px) {
            .responsive {
                width: 49.99999%;
                margin: 6px 0;
            }
        }

        @media only screen and (max-width: 500px) {
            .responsive {
                width: 100%;
            }
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
    <form action="" method="post">
        {% csrf_token %}
        <!-- Kilts -->
        <h1> Kilt </h1>
        {% for product in products %}
            {% if product.type == 'K' %}
                <div class="responsive">
                    <div class="img" align="center">
                        <img src="{{ product.image.url }}" width="200" height="200">
                        <div class="desc">{{ product.name }}</div>
                        <div class="checkbox"><label class="radio-inline"><input name="product" type="checkbox" value="{{ product.pk }}">ID:{{ product.pk }}
                        </label></div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    <div class="clearfix"></div>
        <!-- Sporran -->
        <h1> Sporran </h1>
        {% for product in products %}
            {% if product.type == 'S' %}

                <div class="responsive">
                    <div class="img" align="center">
                        <img src="{{ product.image.url }}" width="200" height="200">
                        <div class="desc">{{ product.name }}</div>
                        <div class="checkbox"><label><input name="product" type="checkbox"
                                                            value="{{ product.pk }}">ID:{{ product.pk }}</label></div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    <div class="clearfix"></div>
        <!-- ekstra -->
        <h1> Ekstra </h1>
        {% for product in products %}
            {% if product.type == 'E' %}
                <div class="responsive">
                    <div class="img" align="center">
                        <img src="{{ product.image.url }}" width="200" height="200">
                        <div class="desc">{{ product.name }}</div>
                        <div class="checkbox"><label><input name="product" type="checkbox" value="{{ product.pk }}">ID:{{ product.pk }}</label></div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}


    <div class="clearfix"></div>


        <div align="center" class="row">
            <div class="col-md-12" id="submitContainer">
                <button type="submit">Bestill</button>
            </div>
        </div>

    </form>
{% endblock %}
