{% extends 'standard_sidebar.html' %}
{%  block sidebar %}
    <h2> Kiltbestilling </h2>
    <li>
        <a href="{% url 'kilt:info' %}">Info</a>
    </li>
    <li>
        <a href="{% url 'kilt:shop' %}">Shop</a>
    </li>
    <li>
        <a href="{% url 'kilt:order' %}">Bestilling</a>
    </li>
    {% if perms.kiltshop.add_order %}
    <li>
        <a href="{% url 'kilt:admin' %}">Admin</a>
    </li>
    {% endif %}
    <li>
        <a href="https://sportkilt.com/" target="_blank" >Sport Kilt</a>
    </li>
{%  endblock %}
{% block text %}
{% endblock %}