{% extends 'standard_sidebar.html' %}
{%  block sidebar %}
<style>
    h2{
        font-size: 25px;
    }
    a{
        color:#005675;
    }
</style>
    <h2> Kiltbestilling </h2>
    <li>
        <a href="{% url 'kilt:info' %}">Info</a>
    </li>
    <li>
        <a href="{% url 'kilt:shop' %}">Shop</a>
    </li>
    <li>
        <a href="{% url 'kilt:order' %}">Bestilling</a>
    </li>
    <li>
        <a href="https://sportkilt.com/" target="_blank" >Sport Kilt</a>
    </li>
    {% if perms.kiltshop.add_order %}
    <h2> Admin </h2>
    <h2 style="font-size: 18px">Bestillinger</h2>
    <li>
        <a href="{% url 'kilt:order_new' %}">Lag ny Bestilling</a>
    </li>
    <li>
        <a href="{% url 'kilt:admin_orderoverview' %}">Bestillingsoversikt</a>
    </li>
    <h2 style="font-size: 18px">Produkter</h2>
    <li>
        <a href="{% url 'kilt:product_new' %}">Lag nytt produkt</a>
    </li>
    <li>
        <a href="{% url 'kilt:admin_productoverview' %}">Produktoversikt</a>
    </li>
    {% endif %}
{%  endblock %}
{% block text %}
{% endblock %}