{% extends 'events/dashboard_sidebar.html' %}
{% load static %}
{% block unstyled_text %}
    <div class="white-box">
        <table class="table table-responsive sortable table-hover">
            <tr>
                <th>Navn</th>
                <th>Trinn</th>
                <th>Spesialisering</th>
                <th>Kjønn</th>
                <th>Matpreferanser</th>
                <th>Epost</th>
            </tr>
            {% for attendance in event.attendance_set.all %}
                {% for participant in attendance.get_signed|dictsort:'get_full_name' %}
                    {% if participant not in users %}
                    <tr>
                        <td>{{ participant.get_full_name }}</td>
                        <td>{{ participant.get_grade }}</td>
                        <td>{{ participant.specialization }}</td>
                        <td>{{ participant.gender }}</td>
                        <td>{{ participant.food_preferences }}</td>
                        <td>
                            <a href="mailto:{{ participant.username }}@stud.ntnu.no">
                                {{ participant.username }}@stud.ntnu.no
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
             {% endfor %}
        </table>
    </div>
{% endblock %}