{% extends 'standard_sidebar.html' %}
{% load static %}
{% block text %}


    <h3>{{ action }} Ny fil</h3>
<form method="POST" >{% csrf_token %}
    <table>
        <thead>
            <tr>
                <th style="padding: 5px">Filnavn</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 5px">
                    filen
                </td>

            </tr>
        </tbody>
    </table>
    <p>Brukere av nettsiden vil kunne legge inn bestillinger helt til slutt-tiden går ut. Ønsker man å utvide den kan man redigere tiden her. Dersom man ønsker å slette en bestillingsrekke ber jeg deg kontakte vevsjef.</p>
    <button type="submit"    value="Save" class="btn btn-primary">Lagre</button>
</form>

{% endblock text %}