{% extends 'standard_sidebar.html' %}

{% block text %}


<div>
    <h2>HYBRIDAS OFFISIELLE KOKSIDE</h2>
    <p>Her er kan du legge inn din egen kok, og enda viktiere finne noen andre sin kok! <br>
    For å bruke denne siden trenger du bare å klikke på faget du skal koke i og finne riktig lf. <br>
    Hvis du vil legge til legge til et nytt fag: <br>
    - Trykk på "new subject" til høyre. <br>
    - Skriv inn fagkode og fagnavn "FFF#### - Fagnavn" <br>
    - Trykk på lagre og du er good! <br>
    Hvis du skal legge til kok i et fag: <br>
    - Trykk på "new file" til høyre.<br>
    - Skriv inn navn på øving/innlevering.<br>
    - Velg riktig fil fra pc'n din. <br>
    - Fra Subject velger du det faget som passer. <br>
    - Trykk lagre og se ditt mesterverk puttet til god nytte for alle din medhybrider <3
    </p>


    <ul>

        {% for Subject in subjects %}
            <li>

                <a href="fag/{{ Subject.pk }}" >{{ Subject.name }}</a>

            </li>


        {% endfor %}


    </ul>

</div>



{% endblock text %}

{% block unstyled_sidebar %}

     <div id="sid" style="position: relative; left: 85%;" >

         <a class="btn btn-default" href="{% url 'kok:fileForm' %}">new file</a>
     </div>
    <div id="sid" style="position: relative; left: 85%;">
         <a class="btn btn-default" href="{% url 'kok:subjectForm' %}">new subject</a>

    </div>

{% endblock unstyled_sidebar %}