{% extends 'standard_sidebar.html' %}

{% block text %}


<div>
    <h2>kok site</h2>



    <ul>

        {% for Subject in subjects %}
            <li>

                <a href="fag/{{ Subject.pk }}" >{{ Subject.name }}</a>

            </li>


        {% endfor %}


    </ul>

</div>



{% endblock text %}

{% block unstyled_sidebar %}

     <div id="sid" style="position: relative; left: 85%;" >

         <a class="btn btn-default" href="{% url 'kok:fileForm' %}">new file</a>
     </div>
    <div id="sid" style="position: relative; left: 85%;">
         <a class="btn btn-default" href="{% url 'kok:subjectForm' %}">new subject</a>

    </div>

{% endblock unstyled_sidebar %}