{% extends 'base.html' %}
{% block title %}Bedkom{% endblock %}
{% block content %}
    <style>
        div.big_wrapper {
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
            margin-top: 20px;
        }

        .table-fill {
            background: white;
            border-radius: 3px;
            border-collapse: collapse;
            margin: auto;
            padding: 5px;
            width: 100%;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }

        th:first-child {
            border-top-left-radius: 3px;
        }

        th:last-child {
            border-top-right-radius: 3px;
            border-right: none;
        }

        tr {
            border-top: 1px solid #66676e;
            border-bottom-: 1px solid #66676e;
            color: #666B85;
            font-size: 16px;
            font-weight: normal;
            text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
        }

        tr:nth-child(odd) td {
            background: #EBEBEB;
        }

        td {
            background: #FFFFFF;
            padding: 20px;
            text-align: left;
            vertical-align: middle;
            font-size: 13px;
            text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
            border-right: 1px solid #66676e;
        }

    .test {
        padding-top: 15px;
        font-size: xx-large;
        text-align: center
    }
    </style>


    <div class="big_wrapper">
        <div class="panel panel-default">
            <div class="test">
                <p style="display: inline-block;">Bedriftsdatabase</p>
                <a style="float: right; padding-right: 10px" href="bedrift/ny">
                    <button class="btn btn-ss btn-primary">Lag ny bedrift</button>
                </a>
                <a style="float: right; padding-right: 10px; padding-bottom: 15px" href="">
                    <button class="btn btn-primary">Lag Bedriftspresentasjon</button>
                </a>
            </div>
            <table class="table-fill">
                <thead>
                    <tr style="background-color: #005675; height: 40px; color: white;">
                        <th class="col-xs-3">Navn</th>
                        <th class="col-xs-2">Ansvarlig</th>
                        <th class="col-xs-5">Siste Kommentar</th>
                        <th class="col-xs-1">Status</th>
                        <th class="col-xs-1">Prioritet</th>
                    </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr>
                        <td class="text-left" style="font-size: x-large;"><a href="bedrift/{{ company.id }}" style="color: #005675;">{{ company.name }}</a></td>
                        <td class="text-left">{{ company.responsible.first_name }} {{ company.responsible.middle_name }} {{ company.responsible.last_name }}</td>
                        <td class="text-left">{{ company.last_comment.text }}</td>
                        <td style="font-size: medium; margin: auto; text-align: center">{{ company.status }} </td>
                        {% if company.priority == 'Høy' %}
                            <td style="background-color: lightgreen" class="text-left">
                        {% elif company.priority == 'Middels' %}
                            <td style="background-color: yellow" class="text-left">
                        {% elif company.priority == 'Lav' %}
                            <td style="background-color: indianred" class="text-left">
                        {% endif %}
                            <div>
                                <p style="font-size: large; color: darkslategray; margin: auto; text-align: center">{{ company.priority }}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
