{% extends 'standard_sidebar.html' %}
{% block title %}{{ company.name }}{% endblock %}
{% block text %}

    <style>
        .big_wrapper {
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 20px;
            margin-bottom: 30px;
            border-radius: 3px;
        }

        .table-fill {
            background: white;
            border-radius: 3px;
            border-collapse: collapse;
            margin: auto;
            padding: 5px;
            width: 100%;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            animation: float 5s infinite;
        }

        th:first-child {
            border-top-left-radius: 3px;
        }

        th:last-child {
            border-top-right-radius: 3px;
            border-right: none;
        }

        tr {
            border-top: 1px solid #C1C3D1;
            border-bottom-: 1px solid #C1C3D1;
            color: #666B85;
            font-size: 16px;
            font-weight: normal;
            text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
            width:69%;
        }

        th {
            background: #EBEBEB;
            width: 31%;
            border: 1px solid #C1C3D1;
        }

        td:last-child {
            border-bottom: 1px solid #C1C3D1;
        }

        td {
            background: #FFFFFF;
            padding: 20px;
            text-align: left;
            vertical-align: middle;
            font-size: 13px;
            text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
            border-right: 1px solid #C1C3D1;
        }

        .text-left_1 {
            padding-left: 5px;
        }

        .table-title {
            text-align: left;
            width: 50%;
        }

        .pull-left {
            text-align: left;
            width: 50%;
        }

        .pull-right {
            text-align: right;
            width: 50%;
        }

    .header {
        text-align: center;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    </style>

    <div class="header">
        <a href="{% url 'bedkom'  %}">
            <button style="float: left" class="btn btn-primary">Tilbake</button>
        </a>
        <div class="pull-right">
        <a href="{%  url 'admin:bedkom_bedpress_add'%}">
            <button class="btn btn-primary">Lag Bedriftspresentasjon</button>
        </a>
        <a href="{% url 'admin:bedkom_company_change' company.pk %}">
            <button class="btn btn-primary">Rediger</button>
        </a>
        </div>
    </div>


    <div class="big_wrapper">
            <h1>{{ company.name }}</h1>


        <table class="table-fill">
            <thead>
            <tr>
                <th class="text-left_1">Status</th>
                <td class="text-left_1">{{ company.status }}</td>
            </tr>
            <tr>
                <th class="text-left_1">Prioritet</th>
                <td class="text-left_1">{{ company.priority }}</td>
            </tr>
            <tr>
                <th class="text-left_1">Ingress</th>
                <td class="text-left_1">{{ company.info }}</td>
            </tr>
            <tr>
                <th class="text-left_1">Bedriftskontakt</th>
                <td class="text-left_1">{{ company.responsible.first_name }} {{ company.responsible.middle_name }} {{ company.responsible.last_name }}</td>
            </tr>
            <tr>
                <th class="text-left_1">Adresse</th>
                <td class="text-left_1">{{ company.address }}</td>
            </tr>
            </thead>
        </table>
<br/>
       <table class="table-fill">
            <thead>
            <tr>
                <th class="text-left_1">Bedriftsrepresentant  </th>
                <td class="text-left_1">{{ company.contact_person.name }} </td>
            </tr>

            <tr>
                <th class="text-left_1">Email</th>
                <td class="text-left_1">{{ company.contact_person.email }}</td>
            </tr>
            </thead>
        </table>



        <div class="">
            <h3>Tidligere bedriftspresentasjoner</h3>
            {% for bedpress in bedpresses %}
                <p><a href="bedpress/{{ bedpress.id }}">{{ bedpress.event.location }} | {{ bedpress.event.event_start|date:'d.m.o' }}</a></p>
            {% endfor %}

        </div>

    </div>

{% endblock text %}
{% block sidebar %}
    <p>Hva skal vi ha har er? </p>
{%  endblock %}
{% block extra %}
    <script type="text/javascript">
        textBox = $('#text-box');
        sidebar = $('#sidebar');
        adjust_height = function () {
            if (window.innerWidth >= 992) {
                // 15px is height of space_above margin
                $('#comment_box').css('max-height', textBox.height() - sidebar.height() - 15 + 'px');
            } else {
                $('#comment_box').css('max-height', "")
            }
        };
        window.onload = adjust_height;
        window.onresize = adjust_height;
    </script>
    <div class="col-md-4 space-above">
        <div class="white-box comment-section" id="comment_box">
            <h6 class="top-text">Kommentarer</h6>
         <div style="margin:1em">
                <form action="{% url 'comment_company' company.pk %}" method="POST">
                    {% csrf_token %}
                    <input name="company_id" value="{{ company.pk }}" hidden>
                    <label for="comment" class="sr-only">Comment:</label>
                    <input class="form-control" id="comment" name="text" autocomplete="off"
                           maxlength="250" type="text" required>
                    <button type="submit" class="btn btn-primary" style="width: 100%">Kommenter</button>
                </form>
            </div>
            {% for comment in comments %}
                <div class="row">

                    <div class="col-xs-10 col-lg-10" style="padding-left:2.5%; margin-left: 20px; border-bottom:1px solid #CED2D3;">
                        <div class="row">
                            <div class="col-xs-11">
                                <strong>
                                    <a class="hybridLink" id="{{ comment.author }}"
                                       href="{% url 'profile' comment.author.username %}">{{ comment.author.get_full_name }}</a></strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ comment.text }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <small>{{ comment.timestamp }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock extra %}
