{% extends 'standard_sidebar.html' %}
{% load widget_tweaks %}
{% load static %}
{% block text %}
    <style>
    .header {
        text-align: center;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    </style>

    <div class="header">
        <h3 style="display: inline-block; font-size: xx-large; margin: auto; margin-left: -12%">{{ action }} bedrift</h3>
        <a href="{% url 'bedkom'  %}">
            <button style="float: left" class="btn btn-primary">Tilbake</button>
        </a>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Navn:</label>
            {{ form.name|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="id_responsible">Ansvarlig:</label>
            {{ form.responsible|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="id_text">Adresse:</label>
            {{ form.address|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="id_price">Info:</label>
            {{ form.info|add_class:"form-control" }}
        </div>
         <div class="form-group">
            <label for="id_logo">Logo:</label>
            {{ form.logo.errors }}
            {{ form.logo }}
        </div>
        <div class="form-group">
            <label for="id_signup_start">Status:</label>
            {{ form.status|add_class:"form-control form_datetime" }}
        </div>
        <div class="form-group">
            <label for="id_signup_end">Prioritering:</label>
            {{ form.priority|add_class:"form-control form_datetime" }}
        </div>
        <button type="submit" value="Save" class="btn btn-primary">Lagre</button>
    </form>
{% endblock text %}
{% block sidebar %}
    <h3>Informasjon:</h3>
    <hr>
    <p>Før du lager eller redigerer en bedrift, ser vi gjerne at du leser igjennom disse retningslinjene, slik at alt går slik det skal.</p>
    <p>De feltene på sidebaren som er markert med <strong>boldet tekst</strong> er nødvendige.</p>
    <hr>
    <p><strong>Navn:</strong> Dette er navnet på bedriften.</p>
    <p><strong>Ansvarlig:</strong> Her velger du brukernavnet på den ansvarlige personen.</p>
    <p>Adresse: Dette er adresse til bedriften</p>
    <p>Logo: Dette er bildet som vil vises blandt stillingsannonser. Velges ikke et bilde vil en placeholder dukke opp.</p>
    <p><strong>Status:</strong> Dette er den aktuelle statusen på bedriften.</p>
    <p><strong>Prioritering:</strong> Dette er hvor høy prioritering firmaet har. {Lav, Medium, Høy} </p>
{% endblock sidebar %}