{% extends 'base.html' %}
{% block title %}Quiz{% endblock %}
{% block content %}
    <h1>Quiz</h1>
    <style>
        #standing {
            position: absolute;
            top: 50px;
            left: 50px;
            width: 400px;
        }

        li {
            font-size: 22px;
            color: black;
        }

        a {
            color: black;
        }

        a:hover {
            color: blue;
        }

        #picture {
            float: right;
        }
    </style>
    <div id="standing">
        <h2>Resultat</h2>
        <div id="list">
            {% if best_team %}
                <table class="info-table">
                    {% for team in best_team %}
                        <tr>
                            <td><a href="/quiz/{{ team.id }}/">{{ team.name }}</a></td>
                            <td>{{ team.points }}</td>
                            <td><meter style="width:75%;height:25px;" id="bars" title="Awesomeness" max="10" low="1" high="8" optimum="5" value="7"></meter></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Ingen tilgjengelige lag</p>
            {% endif %}
        </div>
        <div id="points">
            {% for team in best_team %}
            {% endfor %}
        </div>
    </div>
    <div id="picture">
        <img src="/static/img/students1.png" alt="Students" height="422" width="590">
    </div>
{% endblock %}