<button class="btn btn-default btn-lg btn-responsive fixed-bottom-right" onclick="toggleFeedbackBox()">
    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Tilbakemelding
</button>

<div id="feedbackBox" class="white-box fixed-bottom-right container">
    <input id="feedbackUser" value="{% if user.is_authenticated %}{{ user.get_full_name }}{% endif %}" hidden>
    <input id="feedbackEmail" value="{% if user.is_authenticated %}{% if user.email == "" %}{{ user.username|add:"@stud.ntnu.no" }}{% else %}{{ user.email }}{% endif %}{% endif %}" hidden>
    <h2>Tilbakemelding til Vevkom</h2>
    <textarea class="form-control" id="feedbackContent" placeholder="Hjelp oss til å gjøre siden bedre"></textarea>
    {% if user.is_authenticated %}
        <span><input type="checkbox" id="feedbackAnonymous"> Send anonymt</span>
    {% else %}
        <input type="checkbox" id="feedbackAnonymous" checked hidden>
        Du er ikke logget inn så meldingen vil bli sent anonymt. Om du vil at vi skal kunne kontakte deg, vennligst logg inn.
    {% endif %}
    <button type="submit" class="btn btn-default" id="feedbackButton" onclick="submitFeedback()">Send</button>
</div>
