{% extends 'base.html' %}
{% load static %}
{% block title %}Forside{% endblock %}
{% block content %}
    <img src="{% static "img/griff.jpg" %}" id="banner">
    {% if not user.is_authenticated %}
    {% endif %}

    <div class="container">
        <a name="hendelser" style="margin-top: -50px; position: absolute"></a>
        <div class="row space-below space-above">
            <div class="col-xs-12 col-md-4 col-md-push-8 space-above">
                {% if perms.events.add_event %}
                    <div class="white-box space space-below">
                        <h3><a style="color: black;" href="{% url 'admin:events_event_add' %}">Lag ny hendelse</a></h3>
                    </div>
                {% endif %}
                <div class="white-box space space-below">
                    <h3>Bedriftspresentasjoner</h3>
                    {% include 'events/bedpress_list.html' %}
                </div>
                <div class="white-box space space-below">
                    <h3>Arrangementer</h3>
                    {% include 'events/event_list.html' %}
                </div>
                <div class="white-box space space-below">
                    <h3><a style="color: black; font-size: 22px" href="{% url 'jobs:info' %}">Fremhevede
                        Stillingsutlysninger</a></h3>
                    {% include 'jobannoucements/job_list.html' %}
                    <hr>
                    <div style="text-align:center">
                        <a id="job-button" href="{% url 'jobs:info' %}" class="btn btn-primary">Se alle</a>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="white-box space space-below" style="width: 100%; clear: left">
                        <div style="margin-bottom: 2%; text-align: center">
                            <h3 style="margin-bottom: -1%; margin-top: -1%;"><a style="color: black;" href="/achievements/current">Scoreboard</a></h3>
                            <a style="font-size: 16px" href="/achievements/current">Se hele scoreboardet</a>
                        </div>
                        {% include 'achievements/mini_scoreboard.html' %}
                    </div>
                {% endif %}

            </div>
            <div class="col-xs-12 col-md-8 col-md-pull-4">
                <div class="unstyled-box">
                    <div id="events" class="remove-whitebox-padding">
                        {% include 'events/events.html' %}
                        <div class="clearfix"></div>
                    </div>
                </div>
                <button id="events-btn" class="btn btn-primary space-above" style="width: 100%; display: none"
                        onclick="getNextEvents()">
                    Hent mer
                </button>
                <noscript>
                    {% if page_obj.has_previous %}
                        <a class="btn btn-default space-above"
                           href="?side={{ page_obj.previous_page_number }}">
                            Forige side
                        </a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a class="btn btn-default space-above" style="float: right"
                           href="?side={{ page_obj.next_page_number }}">
                            Neste side
                        </a>
                    {% endif %}
                </noscript>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

    {% if user.is_authenticated %}
        <script>
            window.location.hash = 'hendelser';
        </script>
    {% endif %}
    <script>
        var page = {{ page_obj.number }};
        $('#events-btn').show();

        function getNextEvents() {
            $.ajax({
                url: '{% url 'event_thumblist' %}?side=' + ++page
            }).done(
                function (data) {
                    $('#events').append(data);
                }
            ).fail(
                function () {
                    $('#events-btn').hide()
                }
            )
        }
    </script>
{% endblock %}
