{% extends 'base.html' %}
{% load static %}
{% block title %}Forside{% endblock %}
{% block content %}
    <img src="{% static "img/hybirda.png" %}" data-holder-rendered="true" id="banner">
    {% if not user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 space-above">
                    <div class="col-xs-12 drop-shadow">
                        <div class="row inverted">
                            <div class="col-sm-6 unstyled-box inverted" style="background:#005675;">
                                Velkommen til linjeforeningen Hybrida sin nettside
                            </div>
                            <div class="col-sm-6 unstyled-box inverted">
                                <a href="{% url 'register' %}">Klikk her for å registrere deg</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <a name="hendelser" style="margin-top: -50px; position: absolute"></a>
        <div class="row space-below space-above">
            <div class="col-xs-12 col-md-4 col-md-push-8 space-above">
                {% if perms.events.add_event %}
                    <div class="white-box space space-below">
                        <h3><a style="color: black;" href="{% url 'admin:events_event_add' %}">Lag ny hendelse</a></h3>
                    </div>
                {% endif %}
                <div class="white-box space space-below">
                    <h3>Bedriftspresentasjoner</h3>
                    {% include 'events/bedpress_list.html' %}
                </div>
                <div class="white-box space space-below">
                    <h3>Arrangementer</h3>
                    {% include 'events/event_list.html' %}
                </div>
                <div class="white-box space space-below">
                    <h3><a style="color: black; font-size: 22px" href="{% url 'jobs:info' %}">Fremhevede
                        Stillingsutlysninger</a></h3>
                    {% include 'jobannoucements/job_list.html' %}
                    <hr>
                    <div style="text-align:center">
                        <a id="job-button" href="{% url 'jobs:info' %}" class="btn btn-primary">Se alle</a>
                    </div>
                </div>

                <!-- Instagram feed (just add <div id="instafeed"></div> to work)
                <div class="white-box space space-below">
                    <div>
                        <a href="https://www.instagram.com/hybridantnu/">
                        <img style="border-radius: 50%; border-color: #0f0f0f"  src="../static/img/logo_big.png">
                        </a>
                        <p>@Hybridantnu</p>
                    </div>

                    <div id="instafeed"></div>
                </div>
                  -->

            </div>
            <!--Hvert event hentes inn her samlet fra event_thumblist.html-->
            <div class="col-xs-12 col-md-8 col-md-pull-4">
                <div class="unstyled-box">
                    <div id="events" class="remove-whitebox-padding">
                        {% include 'events/events.html' %}
                        <div class="clearfix"></div>
                    </div>
                </div>
                <button id="events-btn" class="btn btn-primary space-above" style="width: 100%; display: none"
                        onclick="getNextEvents()">
                    Hent mer
                </button>
                <noscript>
                    {% if page_obj.has_previous %}
                        <a class="btn btn-default space-above" href="?side={{ page_obj.previous_page_number }}">
                            Forige side
                        </a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a class="btn btn-default space-above" style="float: right" href="?side={{ page_obj.next_page_number }}">
                            Neste side
                        </a>
                    {% endif %}
                </noscript>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="../static/lib/js/instafeed.min.js"></script>
    <script type="text/javascript" src="../static/lib/js/insta.feed.js"></script>

    {% if user.is_authenticated %}
        <script>
            window.location.hash = 'hendelser';
        </script>
    {% endif %}
    <script>
        page = 1;
        last_page = {{ page_obj.end_index }} + 1;
        $('#events-btn').show();

        function getNextEvents() {
            $.ajax({
                url: '{% url 'event_thumblist' %}?side=' + ++page
            }).done(
                function (data) {
                    $('#events').append(data);
                    if (page >= last_page) {
                        $('#events-btn').hide()
                    }
                }
            )
        }
    </script>
{% endblock %}
