{% extends 'base.html' %}
{% load static %}
{% block title %}Forside{% endblock %}
{% block content %}
    <img src="{% static "img/hybirda.png" %}" data-holder-rendered="true" id="banner">
    {% if not user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 space-above">
                    <div class="col-xs-12 drop-shadow">
                        <div class="row inverted">
                            <div class="col-sm-6 unstyled-box inverted" style="background:#005675;">
                                Velkommen til linjeforeningen Hybrida sin nettside
                            </div>
                            <div class="col-sm-6 unstyled-box inverted">
                                <a href="{% url 'register' %}">Klikk her for å registrere deg</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endif %}

    <a name="hendelser" style="margin-top: -50px; position: absolute"></a>
    <div class="container">
        <div class="row space-below space-above">
            <div class="col-xs-12 col-md-4 col-md-push-8 space-above">
                {% if perms.events.add_event %}
                    <div class="white-box space space-below">
                        <h3><a style="color: black;" href="{% url 'admin:events_event_add' %}">Lag ny hendelse</a></h3>
                    </div>
                {% endif %}
                <div class="white-box space space-below">
                    <h3>Bedriftspresentasjoner</h3>
                    {% include 'events/bedpress_list.html' %}
                </div>
                <div class="white-box space space-below">
                    <h3>Arrangementer</h3>
                    {% include 'events/event_list.html' %}
                </div>
                <div class="white-box space space-below">
                    <h3><a style="color: black;" href="{% url 'jobs:info' %}">Stillingsutlysninger</a></h3>
                    {% include 'jobannoucements/job_list.html' %}
                </div>
            </div>
            <!--Hvert event hentes inn her samlet fra event_thumblist.html-->
            <div class="col-xs-12 col-md-8 col-md-pull-4">
                <div class="unstyled-box">
                    {% include 'events/event_thumblist.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {% if user.is_authenticated %}
        <script>
            window.location.hash = 'hendelser';
        </script>
    {% endif %}
{% endblock %}
