{% extends 'base.html' %}
{% load static %}
{% block title %}Hybridastrikk{% endblock %}
{% block content %}
<!--kan bruke pixlr.com til skalering av bilder (søk photoshop online)-->
  <!--  <style>
        img {
            filter: #4b4c4f; /* IE6-9 */
            -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
            -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
            box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
            margin-bottom:20px;
        }

        img:hover {
            filter: none; /* IE6-9 */
            -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
        }
    </style>
-->

    <div class="container">
        <h1 style="align-content: center;">Hybrias egen strikkeside</h1>
        <p>Her vil alle de fantastiske strikkeoppskriftene bli lagt ut</p>
        <img src="../static/img/strikkhopp.png">
        <div class="row">

            <div class="col-md-3 col-xs-12 col-sm-12" style="background-color:#104e91;">
                <h3 style="color: #c5c5c5;">Hybrida Strikkegenser</h3>
                        <h5><a href="../static/pdf/Hybridagenseren.pdf" download="hybridagenseren"><span class="glyphicon glyphicon-download"></span></a></h5>
                        <img src="../static/img/gensergjengen.jpg" style="height: 400px;">

            </div>
            <div class="col-md-3 col-xs-12 col-sm-12" style="background-color:#c5c5c5;">
                <h3> Ølvott</h3>
                <h5><a href="../static/pdf/Hybridagenseren.pdf" download="hybridagenseren"><span class="glyphicon glyphicon-download"></span></a></h5>
                <img src="../static/img/gensergjengen.jpg" style="height: 400px;">
            </div>
            <div class="col-md-3 col-xs-12 col-sm-12" style="background-color:#104e91;">
            <h3 style="color: #c5c5c5;"> Votter</h3>
            <h5><a href="../static/pdf/Hybridagenseren.pdf" download="hybridagenseren"><span class="glyphicon glyphicon-download"></span></a></h5>
            <img src="../static/img/gensergjengen.jpg" style="height: 400px;">
        </div>
            <div class="col-md-3 col-xs-12 col-sm-12" style="background-color:#c5c5c5;">
                <h3>Hybrida votter med griffmønster</h3>
                <a href="../static/pdf/Hybridagenseren.pdf" download="hybridagenseren"><span class="glyphicon glyphicon-download"></span></a>

                    <img src="../static/img/Griff,%20drop%20shadow.png">
            </div>
        </div>
    </div>



    <div class="container" style="filter: none; -webkit-filter: grayscale(0);">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" style="filter: none; -webkit-filter: grayscale(0);" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://www.virginia.org/uploadedImages/virginiaorg/Images/OrgImages/H/HamptonConventionVisitorBureau/Grandview_Nature_Preserve.jpg?width=300&height=200&scale=upscalecanvas" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" style="filter: none; -webkit-filter: grayscale(0);" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://www.virginia.org/uploadedImages/virginiaorg/Images/OrgImages/H/HamptonConventionVisitorBureau/Grandview_Nature_Preserve.jpg?width=300&height=200&scale=upscalecanvas" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" /></div>
        </div>
    </div>

{%  endblock %}