{% extends 'base.html' %}
{% block content %}
    <div class="article-bg">
        <div class="container-fluid center-container">
            <div class="row space-below">
                <div class="col-xs-12 col-md-4 col-md-push-8 space-above">
                    <div class="white-box" id="sidebar">
                        {% block sidebar %}
                        {% endblock sidebar %}
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 col-md-pull-4 space-above">
                    <div class="white-box" id="text-box">
                        {% block text %}
                        {% endblock text %}
                    </div>
                </div>
                {% block extra %}
                {% endblock extra %}
            </div>
        </div>
    </div>
{% endblock content %}