<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="title-field">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modal-body">

                    </div>
                    <div id="form-container">
                        {% comment %}
                            Manually rendered BadgeRequestForm below:
                            Entering the form manually like this is bad practice,
                            as it creates an issue if the form is changed in forms.py.
                            Generally, pass the form from the view and render is using {{ form }}
                            In this case we enter it manually to avoid altering multiple views
                        {% endcomment %}
                        <tr>
                            <th>
                                <label for="id_comment">Comment:</label>
                            </th>
                            <td>
                                <input type="text" name="comment" maxlength="255" class="form-control" id="id_comment" />
                            </td>
                        </tr>
                    </div>
                </div>
                <input type="hidden" name="badge-id" id="badge-id" value="-1">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="submit-button" class="btn btn-primary">Søk om badge</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function setModalContent(badgeID) {
        $.ajax({
            {% comment %}
                Typing urls manually is bad practice, as it creates an issue if the url is changed
                Generally, use the builtin django url template tag, which uses url names
                Here it would be: {% url 'achievements:badgerequest-data' badge_id %}
                Here, however, it is necessary to have the url "hardcoded" in,
                because we don't have the badge_id variable available at render time
            {% endcomment %}
            url: `/achievements/badges/data/${badgeID}`,
            type: 'GET',
            success: function (badge) {
                // if the user already has requested badge
                if (badge.request) {
                    // get request
                    let request = badge.request;
                    // set title
                    document.getElementById("title-field").innerText = `Din søknad om ${badge.name}`;
                    // hide form
                    document.getElementById("form-container").style.display = 'none';
                    document.getElementById("submit-button").style.display = 'none';
                    // set modal contents
                    document.getElementById("modal-body").innerText = `Status: ${request["status"]}\n`
                        + `Din kommentar: ${request["comment"]}`;
                } else if (badge.user_has) {
                    // set title
                    document.getElementById("title-field").innerText = `${badge.name}`;
                    // set modal contents
                    document.getElementById("modal-body").innerText = "Du har allerede denne badgen!";
                    // hide form
                    document.getElementById("form-container").style.display = 'none';
                    document.getElementById("submit-button").style.display = 'none';
                } else {
                    // set title
                    document.getElementById("title-field").innerText = `Søk om å få tildelt ${badge.name}`;
                    // show form
                    document.getElementById("form-container").style.display = 'block';
                    document.getElementById("submit-button").style.display = 'inline-block';
                    document.getElementById("badge-id").setAttribute("value", badgeID);
                    // set modal contents
                    document.getElementById("modal-body").innerText = `Scorepoints: ${badge.scorepoints}\n`
                        + `Beskrivelse: ${badge.description}\n`
                        + `Vil du ha den?`;
                }
            }
        });
    }
</script>