<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internxoxo</title>
</head>
<body style="background-color: black; color: #00ff00; font-style;">
<div style="text-align: center">
    <h1>Internsiden for de kege gætta</h1>
    <p>
       <h3>siden for kuk, kødd og litt nyttige greier!</h3>
    </p>


</div>
<!-- button -->

<div style="position: fixed; left: 10px; top: 10px;">
<a href="https://hybrida.no">
    <button style="border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;">home</button>
</a>

</div>

<!-- Bakelisten -->

<div style="border-style: solid;position: absolute; top: 250px; left: 3%; width: 20%; height: 300px">
    <h3 style="text-align: center">Bakeliste</h3>
    <div style="overflow:hidden; ">
        <h4>
        </h4>
    </div>
</div>

<!-- Referater -->

<div style="border-style: solid;position: absolute; top: 250px; left: 28%; width: 20%; height: 300px">
    <h3  style="text-align: center">Referater</h3>
    <div style="overflow:hidden; ">
        <div style = "border-style: solid;position: absolute;">
            {% for referat in referats %}
                {{ referat.date }}
            {% endfor %}
        </div>
    </div>
</div>

<!-- Guides -->

<div style="border-style: solid;position: absolute; top: 250px; right: 28%; width: 20%; height: 300px">
    <h3  style="text-align: center">Guides</h3>
    <div style="overflow:hidden; ">
        <h4>
        </h4>
    </div>
</div>

<!-- Møteplaner -->

<div style="border-style: solid;position: absolute; top: 250px; right: 3%; width: 20%; height: 300px">
    <h3  style="text-align: center">Møteplaner</h3>
    <div style="overflow:hidden; ">
        <h4>
        </h4>
    </div>
</div>


</body>
</html>