<div class="list">
    {% for event in bedpress_list_chronological %}
        <div>
            <a href="{% url 'event' event.pk %}">
                <i class="fa fa-square"
                   style="color:{% if event.signup_start %}#005675{% else %}#9e9d98{% endif %}"
                   aria-hidden="true"></i>
                <time datetime="{{ event.event_start|date:'c' }}">
                    {{ event.event_start|date:'d. b' }}
                </time>
                <span>
                    {{ event.title }}
                </span>
            </a>
        </div>
    {% endfor %}
</div>