{% extends 'events/event_sidebar.html' %}
{% load event_extras %}
{% block title %}{{ event.title }}{% endblock title %}
{% block link %}
    <link rel="image_src" href="{% absolute_uploads_url event.image %}"/>
    <meta property="og:image" content="{% absolute_uploads_url event.image %}">
    <meta property="og:title" content="{{ event.title }}"/>
    <meta property="og:description" content="{{ event.ingress }}"/>
{% endblock %}
{% block text %}
    {% if event.image %}
        <div class="remove-whitebox-padding">
            <img src="/uploads/{{ event.image }}" class="center-block img-responsive art-img" width="100%">
        </div>
    {% endif %}
    <h1 id="event_title">{{ event.title }}</h1>
    <h4 class="text-center">{{ event.ingress }}</h4>
    <h6 class="top-text">
        Av:
        <a class="hybridLink" id="{{ event.author }}"
           href="{% url 'profile' event.author %}">{{ event.author.get_full_name }}</a>
        {% if perms.events.add_event %}
            <a class="pull-right" href="{% url 'admin:events_event_change' event.pk %}">
                <button class="btn btn-xs btn-primary">Rediger</button>
            </a>
        {% endif %}
        {% if perms.events.add_event %}
            <a class="pull-right" href="{% url 'admin:events_event_delete' event.pk %}">
                <button class="btn btn-xs btn-danger">Slett</button>
            </a>
        {% endif %}
    </h6>
    <p class="text-center"></p>
    <p>{{ event.text|linebreaksbr }}</p>
    <p></p>

    {% if user.is_authenticated %}
        {% for attendance in event.attendance_set.all %}
            <h6 class="top-text">{{ attendance.name }}</h6>

            {% for grade in attendance.grades %}
                <div style="margin-top: 10px">
                    <strong onclick="$ ( '#showhide{{ attendance.id }}_{{ grade }}' ).toggle ( ) ; adjust_height()"
                            style="cursor: pointer;">
                        {{ grade }}. Klasse: {{ attendance|signed_hybrids|grade_list:grade|length }} påmeldte
                    </strong>
                    <div style="display: none" class="row" id="showhide{{ attendance.id }}_{{ grade }}">
                        {% for participant in attendance|signed_hybrids|grade_list:grade|dictsort:'first_name' %}
                            <div style="margin-top: 7px" class="col-sm-6">
                                <a href="{% url 'profile' participant.username %}">
                                    <div style="height: 50px; width: 50px; overflow: hidden; display: inline-block; vertical-align: middle; margin-right: 1em">
                                        <img src="/uploads/{{ participant.image }}" width="45px"
                                             style="vertical-align: middle">
                                        <span style="height: 50px; vertical-align: middle; display: inline-block;"></span>
                                    </div>
                                    {{ participant.get_full_name }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {% if attendance.full %}
                <div style="margin-top: 10px">
                    <strong onclick="$ ( '#showhide{{ attendance.id }}_waiting' ).toggle ( ) ; adjust_height()"
                            style="cursor: pointer;">
                        Venteliste: {{ attendance|waiting_hybrids|length }} påmeldte
                    </strong>
                    <div style="display: none" class="row" id="showhide{{ attendance.id }}_waiting">
                        {% for waiting in attendance|waiting_hybrids|dictsort:'first_name' %}
                            <div style="margin-top: 7px" class="col-sm-6">
                                <a href="{% url 'profile' waiting.username %}">
                                    <div style="height: 50px; width: 50px; overflow: hidden; display: inline-block; vertical-align: middle; margin-right: 1em">
                                        <img src="/uploads/{{ waiting.image }}" width="45px"
                                             style="vertical-align: middle">
                                        <span style="height: 50px; vertical-align: middle; display: inline-block;"></span>
                                    </div>
                                    {{ waiting.get_full_name }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock text %}
{% block sidebar %}
    <table class="info-table">
        {% if event.event_start %}
            <tr>
                <td>Start</td>
                <td>{{ event.event_start }}</td>
            </tr>
        {% endif %}
        {% if event.event_end %}
            <tr>
                <td>Slutt</td>
                <td>{{ event.event_end }}</td>
            </tr>
        {% endif %}
        {% if event.location %}
            <tr>
                <td>Sted</td>
                <td>{{ event.location }}</td>
            </tr>
        {% endif %}
    </table>
    {% for attendance in event.attendance_set.all %}
        <h3>{{ attendance.name }}</h3>
        <table class="info-table">
            {% if attendance.signup_start %}
                <tr>
                    <td>Åpnes</td>
                    <td>{{ attendance.signup_start }}</td>
                </tr>
            {% endif %}
            {% if attendance.signup_end %}
                <tr>
                    <td>Frist</td>
                    <td>{{ attendance.signup_end }}</td>
                </tr>
            {% endif %}
            {% if attendance.price %}
                <tr>
                    <td>Pris</td>
                    <td>{{ attendance.price }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Trinn</td>
                <td>
                    {% if attendance.grades|length_is:5 %}
                        Alle
                    {% else %}
                        {% for grade in attendance.grades %}<span class="comma_seperated">{{ grade }}</span>{% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Kjønn</td>
                <td>
                    {% if attendance.genders|length_is:3 %}
                        Alle
                    {% else %}
                        {% for gender in attendance.genders %}<span class="comma_seperated"
                        >{{ gender|readable_gender }}</span>{% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% if attendance.specializations.count %}
                <tr>
                    <td>Spesialiseringer</td>
                    <td>
                        {% for specialization in attendance.specializations.all %}
                            {{ specialization }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </table>
        <div class="progress" style="margin-bottom: 0">
            <div class="progress-bar"
                 style="min-width: 4em;
                         width: {% widthratio attendance.get_signed|length attendance.max_participants 100 %}%">
                {{ attendance.get_signed|length }}
                / {{ attendance.max_participants }}
                {% if attendance.get_waiting %}
                    + {{ attendance.get_waiting|length }}
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-xs-12">
                    {% if attendance.signup_open %}
                        <form method="post">
                            {% csrf_token %}
                            <input name="attendance" value="{{ attendance.pk }}" type="hidden">
                            {% if user in attendance.participants.all %}
                                <input name="action" value="leave" type="hidden">
                                <button type="submit" class=" btn btn-danger btn-block">
                                    Meld meg av{% if user in attendance|waiting_hybrids %} ventelisten{% endif %}
                                </button>
                            {% elif attendance in joinable %}
                                <input name="action" value="join" type="hidden">
                                <button type="submit" class=" btn btn-primary btn-block">
                                    {% if attendance.full %}Meld meg på ventelisten{% else %}Meld meg på{% endif %}
                                </button>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock sidebar %}
{% block extra %}
    <script type="text/javascript">
        textBox = $('#text-box');
        sidebar = $('#sidebar');
        adjust_height = function () {
            if (window.innerWidth >= 992) {
                // 15px is height of space_above margin
                $('#comment_box').css('max-height', textBox.height() - sidebar.height() - 15 + 'px');
            } else {
                $('#comment_box').css('max-height', "")
            }
        };
        window.onload = adjust_height;
        window.onresize = adjust_height;
    </script>
    <div class="col-md-4 space-above">
        <div class="white-box comment-section" id="comment_box">
            <h6 class="top-text">Kommentarer</h6>
            {% for comment in event.eventcomment_set.all %}
                <div class="row">
                    <div class="col-xs-2 col-lg-2" style="padding-right:0">
                        <a class="hybridThumbnailLink" id="{{ comment.author }}"
                           href="{% url 'profile' comment.author.username %}">
                            <img class="hybridThumbnail" src="/uploads/{{ comment.author.image }}"
                                 alt="{{ comment.author_id }}">
                        </a>
                    </div>
                    <div class="col-xs-10 col-lg-10" style="padding-left:2.5%">
                        <div class="row">
                            <div class="col-xs-11">
                                <strong>
                                    <a class="hybridLink" id="{{ comment.author }}"
                                       href="{% url 'profile' comment.author.username %}">{{ comment.author.get_full_name }}</a>:</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ comment.text }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <small>{{ comment.timestamp }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div style="margin:1em">
                <form action="{% url 'comment_event' event.pk %}" method="POST">
                    {% csrf_token %}
                    <input name="event_id" value="{{ event.pk }}" hidden>
                    <label for="comment" class="sr-only">Comment:</label>
                    <input class="form-control" id="comment" name="text" autocomplete="off"
                           maxlength="250" type="text" required>
                    <button type="submit" class="btn btn-primary" style="width: 100%">Kommenter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock extra %}
