<div class="remove-whitebox-padding">
    {% for event in object_list %}
        <div class="event-preview">
            <a href="{% url 'event' event.pk %}" style="color: black">
                <div class="fill-width">
                    <div style="max-height: 320px; overflow: hidden">
                        <img src="/uploads/{{ event.image }}"
                             alt="No image available"
                             width="100%">
                    </div>
                    <div class="image-info-overlay">
                        <div class="image-info-overlay-content">
                            <span style="float: left">
                            {% if event.event_start and event.event_end %}
                                {{ event.event_start }}
                            {% endif %}
                            </span>
                            <span style="float: right">
                            {% if event.signup_open %}
                                Påmelding åpent i {{ event.signup_end|timeuntil }}
                            {% elif event.signup_start and event.signup_end %}
                                Påmelding åpner om {{ event.signup_start|timeuntil }}
                            {% endif %}
                            </span>

                        </div>
                    </div>

                    <div style="clear: both">
                        {% if event.max_participants > 0 %}
                            <div class="progress" style="margin-bottom: 0">
                                <div class="progress-bar"
                                     style="width: {% widthratio event.participants.count event.max_participants 100 %}%">
                                </div>
                                <span>{{ event.participants.count }} / {{ event.max_participants }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <h3>{{ event.title }}</h3>
            </a>
            <p>{{ event.ingress }}</p>
        </div>
    {% endfor %}
    <div class="clearfix"></div>
</div>