{% extends 'events/event_sidebar.html' %}
{% load event_extras %}
{% block title %}{{ event.title }}{% endblock title %}
{% block link %}
    <link rel="image_src" href="{% absolute_uploads_url event.image %}"/>
    <meta property="og:image" content="{% absolute_uploads_url event.image %}">
    <meta property="og:title" content="{{ event.title }}"/>
    <meta property="og:description" content="{{ event.ingress }}"/>
{% endblock %}
{% block text %}
    {% if event.image %}
        <div class="remove-whitebox-padding">
            <img src="/uploads/{{ event.image }}" class="center-block img-responsive art-img" width="100%">
        </div>
    {% endif %}
    <h1 id="event_title">{{ event.title }}</h1>
    <h4 class="text-center">{{ event.ingress }}</h4>
    <h6 class="top-text">
        Av:
        <a class="hybridLink" id="{{ event.author }}"
           href="{% url 'profile' event.author %}">{{ event.author.get_full_name }}</a>
        {% if perms.events.add_event %}
            <a class="pull-right" href="{% url 'admin:events_event_change' event.pk %}">
                <button class="btn btn-xs btn-primary">Rediger</button>
            </a>
            <a class="pull-right" href="{% url 'dashboard' event.pk %}">
                <button class="btn btn-xs btn-primary">Dashboard (beta)</button>
            </a>
            <a class="pull-right" href="{% url 'admin:events_event_delete' event.pk %}">
                <button class="btn btn-xs btn-danger">Slett</button>
            </a>
        {% endif %}
    </h6>
    <p class="text-center"></p>
    <p>{{ event.text|safe }}</p>
    <p></p>

    {% if user.is_authenticated %}
        {% for attendance in event.attendance_set.all %}
            <h6 class="top-text">{{ attendance.name }}</h6>

            {% for grade in attendance.grades %}
                <div style="margin-top: 10px">
                    <strong onclick="$ ( '#showhide{{ attendance.id }}_{{ grade }}' ).toggle ( ) ; adjust_height()"
                            style="cursor: pointer;">
                        {{ grade }}. Klasse: {% comment %} Remove to hide attendance before event starts
                        {% if attendance.signup_has_opened %}{% endcomment %}{{ attendance.get_signed|grade_list:grade|length }}
                        {% comment %}{% else %}0{% endif %}{% endcomment %} påmeldte
                    </strong>
                    <div style="display: none" class="row" id="showhide{{ attendance.id }}_{{ grade }}">
                        {% comment %} Remove to hide attendance before event starts (Also remove the equvalent
                        comments below for the progressbar and in events.html)
                        {% if attendance.signup_has_opened %}
                        {% endcomment %}
                        {% for participant in attendance.get_signed|grade_list:grade|dictsort:'first_name' %}
                            <div style="margin-top: 7px" class="col-sm-6">
                                <a href="{% url 'profile' participant.username %}">
                                    <div style="height: 50px; width: 50px; overflow: hidden; display: inline-block; vertical-align: middle; margin-right: 1em">
                                        <img src="/uploads/{{ participant.image }}" width="45px"
                                             style="vertical-align: middle">
                                        <span style="height: 50px; vertical-align: middle; display: inline-block;"></span>
                                    </div>
                                    {{ participant.get_full_name }}
                                </a>
                            </div>
                        {% endfor %}
                        {% comment %} Remove to hide attendance before event starts
                        {% endif %}
                        {% endcomment %}
                    </div>
                </div>
            {% endfor %}
            {% if attendance.full and attendance.signup_has_opened %}
                <div style="margin-top: 10px">
                    <strong onclick="$ ( '#showhide{{ attendance.id }}_waiting' ).toggle ( ) ; adjust_height()"
                            style="cursor: pointer;">
                        Venteliste: {{ attendance.get_waiting|length }} påmeldte
                    </strong>
                    <div style="display: none" class="row" id="showhide{{ attendance.id }}_waiting">
                        {% for index, waiting in attendance.get_waiting_placements %}
                            <div style="margin-top: 7px" class="col-sm-6">
                                <a href="{% url 'profile' waiting.username %}">
                                    <div style="height: 50px; width: 50px; overflow: hidden; display: inline-block; vertical-align: middle; margin-right: 1em">
                                        <img src="/uploads/{{ waiting.image }}" width="45px"
                                             style="vertical-align: middle">
                                        <span style="height: 50px; vertical-align: middle; display: inline-block;"></span>
                                    </div>
                                    {{ index }}: {{ waiting.get_full_name }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if attendance.get_sorted_secondary and attendance.signup_has_opened %}
                <div style="margin-top: 10px">
                    <strong onclick="$ ( '#showhide{{ attendance.id }}_secondary' ).toggle ( ) ; adjust_height()"
                            style="cursor: pointer;">
                        Sekundærventeliste: {{ attendance.get_sorted_secondary|length }} påmeldte
                    </strong>
                    <div style="display: none" class="row" id="showhide{{ attendance.id }}_secondary">
                        {% for index, waiting in attendance.get_waiting_placementsSecondary %}
                            <div style="margin-top: 7px" class="col-sm-6">
                                <a href="{% url 'profile' waiting.username %}">
                                    <div style="height: 50px; width: 50px; overflow: hidden; display: inline-block; vertical-align: middle; margin-right: 1em">
                                        <img src="/uploads/{{ waiting.image }}" width="45px"
                                             style="vertical-align: middle">
                                        <span style="height: 50px; vertical-align: middle; display: inline-block;"></span>
                                    </div>
                                    {{ index }}: {{ waiting.get_full_name }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock text %}
{% block sidebar %}
    <table class="info-table">
        {% if event.event_start %}
            <tr>
                <td>Start</td>
                <td>{{ event.event_start }}</td>
            </tr>
        {% endif %}
        {% if event.event_end %}
            <tr>
                <td>Slutt</td>
                <td>{{ event.event_end }}</td>
            </tr>
        {% endif %}
        {% if event.location %}
            <tr>
                <td>Sted</td>
                <td>{{ event.location }}</td>
            </tr>
        {% endif %}
    </table>
    {% comment %}
        Attendances is a list of dictionaries containing useful values about attendances in relation to the current user
        in addition to an attendance object (attendance.o).
    {% endcomment %}
    {% for attendance in attendances %}
        <h3>{{ attendance.o.name }}</h3>
        <table class="info-table">
            {% if attendance.o.signup_start %}
                <tr>
                    <td>Åpnes</td>
                    <td>{% if not user.is_authenticated %} {{ attendance.o.signup_start }} {% else %}
                        {{ attendance.new_signup_time }} {% endif %}</td>
                </tr>
            {% endif %}
            {% if attendance.o.signup_end %}
                <tr>
                    <td>Frist</td>
                    <td>{{ attendance.o.signup_end }}</td>
                </tr>
            {% endif %}
            {% if attendance.o.price %}
                <tr>
                    <td>Pris</td>
                    <td>{{ attendance.o.price }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Trinn</td>
                <td>
                    {% if attendance.o.grades|length_is:5 %}
                        Alle
                    {% else %}
                        {% for grade in attendance.o.grades %}<span class="comma_seperated">{{ grade }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                {% if attendance.o.genders|length_is:3 %}
                {% else %}
                    <td>Kjønn</td>
                    <td>
                    {% for gender in attendance.o.genders %}<span class="comma_seperated"
                    >{{ gender|readable_gender }}</span>{% endfor %}
                {% endif %}
                </td>
            </tr>
            {% if attendance.o.specializations.count %}
                <tr>
                    <td>Profiler</td>
                    <td>
                        {% for specialization in attendance.o.specializations.all %}
                            {{ specialization }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Du er</td>
                <td>
                    {% if not user.is_authenticated %}
                        Ikke pålogget
                    {% elif attendance.is_signed %}
                        Påmeldt
                    {% elif attendance.is_waiting %}
                        Nummer {{ attendance.waiting_placement }} i kø
                    {% elif attendance.is_participantSecondary %}
                        Nummer {{ attendance.placementSecondary }} på sekundærventelista
                    {% elif attendance.is_invited %}
                        Invitert
                    {% else %}
                        Ikke invitert
                    {% endif %}
                </td>
            </tr>
        </table>
        <div class="progress" style="margin-bottom: 0; margin-top: .5em">
            <div class="progress-bar"
                 style="min-width: 4em; width:{% if attendance.o.signup_has_opened %}
                     {% widthratio attendance.o.get_signed|length attendance.o.max_participants 100 %}{% else %} 0 {% endif %}%">
                {% comment %}Remove to hide attendance before event starts (Also remove the equvivalent comments
                above for the attendance lists and in events.html)
                {% if attendance.o.signup_has_opened %}
                {% endcomment %}
                {{ attendance.o.get_signed|length }}
                / {{ attendance.o.max_participants }}
                {% if attendance.o.get_waiting %}
                    + {{ attendance.o.get_waiting|length }}
                {% endif %}
                {% if attendance.o.get_sorted_secondary %}
                    + {{ attendance.o.get_sorted_secondary|length }}
                {% endif %}
                {% comment %}Remove to hide attendance before event starts
                {% else %}
                    0 / {{ attendance.o.max_participants }}
                {% endif %}
                {% endcomment %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-xs-12">
                    {% if attendance.o.signup_open and attendance.delay_over %}
                        <form method="post">
                            {% csrf_token %}
                            <input name="attendance" value="{{ attendance.o.pk }}" type="hidden">
                            {% if attendance.is_participant %}
                                <input name="action" value="leave" type="hidden">
                                <button type="button" class="btn btn-danger btn-block" data-toggle="modal"
                                        data-target="#confirm-delete">

                                    Meld meg av{% if attendance.is_waiting %} ventelisten{% endif %}
                                </button>
                                {# Failsafe on leaving event prompt #}
                                <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">Bekreft avmeldelse</h4>
                                            </div>

                                            <div class="modal-body">
                                                <p>Hvis du melder deg av mister du plassen din
                                                    {% if attendance.is_waiting %} i køen{% endif %} </p>
                                                <p>Er du sikker?</p>
                                                <p class="debug-url"></p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <button class=" btn btn-danger">Meld meg av</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <i style="color: red; font-size: 12px">Ordinær
                                    avmeldingsfrist {{ attendance.o.signup_end }}</i> <br>
                                {% if not attendance.o.signup_end == attendance.get_signoff_close %}
                                    <i style="color: red; font-size: 12px">Sen
                                        avmeldingsfrist {{ attendance.get_signoff_close }}</i>
                                {% endif %}


                            {% elif attendance.is_participantSecondary %}
                                <input name="action" value="leaveSecondary" type="hidden">
                                <button type="button" class="btn btn-danger btn-block" data-toggle="modal"
                                        data-target="#confirm-delete-secondary">
                                    Meld meg av sekundærventelisten
                                </button>
                                {# Failsafe on leaving event prompt #}
                                <div class="modal fade" id="confirm-delete-secondary" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">Bekreft avmeldelse</h4>
                                            </div>

                                            <div class="modal-body">
                                                <p>Hvis du melder deg av mister du plassen din i køen </p>
                                                <p>Er du sikker?</p>
                                                <p class="debug-url"></p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <button class=" btn btn-danger">Meld meg av</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <i style="color: red; font-size: 12px">Ordinær
                                    avmeldingsfrist {{ attendance.o.signup_end }}</i> <br>
                                {% if not attendance.o.signup_end == attendance.get_signoff_close %}
                                    <i style="color: red; font-size: 12px">Sen
                                        avmeldingsfrist {{ attendance.get_signoff_close }}</i>
                                {% endif %}

                            {% elif attendance.is_invited and not attendance.goes_on_secondary and not attendance.too_many_marks %}
                                <input name="action" value="join" type="hidden">
                                <button type="submit" class=" btn btn-primary btn-block"> Meld meg på
                                    {% if attendance.o.full %} ventelisten {% endif %}</button>

                            {% elif attendance.is_invited and attendance.goes_on_secondary %}
                                <input name="action" value="joinSecondary" type="hidden">
                                <button type="submit" class=" btn btn-primary btn-block">
                                    Meld meg på sekundærventelisten <br> Du har {{ attendance.number_of_marks }}
                                    prikk{% if attendance.number_of_marks != 1 %}er{% endif %}
                                </button>

                            {% elif attendance.is_invited and attendance.too_many_marks %}
                                <br>
                                <p> Du har for mange prikker til å melde deg på arrangementer med Hybrida. </p>
                            {% endif %}
                        </form>
                    {% elif attendance.o.signup_open and not attendance.delay_over %}
                        <form method="post">
                            {% csrf_token %}
                            <input name="attendance" value="{{ attendance.o.pk }}" type="hidden">
                            <br>
                            <p>Du kan ikke melde deg på før {{ attendance.new_signup_time }} <br> Du
                                har {{ attendance.number_of_marks }} prikker </p>
                        </form>
                    {% elif attendance.signoff_is_open and attendance.is_participant %}
                        <form method="post">
                            {% csrf_token %}
                            <input name="attendance" value="{{ attendance.o.pk }}" type="hidden">
                            <input name="action" value="leaveLate" type="hidden">
                            <i style="color: red; font-size: 12px">OBS! Påmeldingen er stengt</i>
                            <button type="button" class="btn btn-danger btn-block" data-toggle="modal"
                                    data-target="#confirm-delete-late">
                                Meld meg av{% if attendance.is_waiting %} ventelisten{% endif %}
                            </button>
                            {# Failsafe on leaving event prompt #}
                            <div class="modal fade" id="confirm-delete-late" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Bekreft sen avmeldelse</h4>
                                        </div>

                                        <div class="modal-body">
                                            <p>Hvis du melder deg av mister du plassen din{% if attendance.is_waiting %}
                                                i
                                                køen{% endif %} </p>
                                            {% if not attendance.waiting_exists %}
                                                <p>Det er ingen på ventelisten, hvis du melder deg av får du én
                                                    prikk</p>
                                            {% endif %}
                                            <p>Er du sikker?</p>
                                            <p class="debug-url"></p>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                            </button>
                                            <button class="btn btn-danger">Meld meg av</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <i style="color: red; font-size: 12px">Ordinær avmeldingsfrist
                                var {{ attendance.o.signup_end }}</i> <br>
                            <i style="color: red; font-size: 12px">Sen
                                avmeldingsfrist {{ attendance.get_signoff_close }}</i>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock sidebar %}
{% block extra %}
    {% if user.is_authenticated %}
        <script type="text/javascript">
            textBox = $('#text-box');
            sidebar = $('#sidebar');
            adjust_height = function () {
                if (window.innerWidth >= 992) {
                    // 15px is height of space_above margin
                    $('#text-box').css('min-height', sidebar.height() + 215 + 'px');
                    $('#comment_box').css('max-height', textBox.height() - sidebar.height() - 15 + 'px');
                } else {
                    $('#comment_box').css('max-height', "")
                }
            };
            window.onload = adjust_height;
            window.onresize = adjust_height;

            $('#confirm-delete').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            });
        </script>
        <div class="col-md-4 space-above">
            <div class="white-box comment-section" id="comment_box">
                <h6 class="top-text">Kommentarer</h6>
                {% for comment in event.eventcomment_set.all %}
                    <div class="row">
                        <div class="col-xs-2 col-lg-2" style="padding-right:0">
                            <a class="hybridThumbnailLink" id="{{ comment.author }}"
                               href="{% url 'profile' comment.author.username %}">
                                <img class="hybridThumbnail" src="/uploads/{{ comment.author.image }}"
                                     alt="{{ comment.author_id }}">
                            </a>
                        </div>
                        <div class="col-xs-10 col-lg-10" style="padding-left:2.5%">
                            <strong>
                                <a class="hybridLink" id="{{ comment.author }}"
                                   href="{% url 'profile' comment.author.username %}">{{ comment.author.get_full_name }}</a>:
                            </strong>
                            {% if user == comment.author %}
                                <form action="{% url 'delete_comment_event' event.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete" value="{{ comment.pk }}">
                                    <button type="submit" class="btn btn-link"
                                            style="color: red; padding: 0; position: absolute; top: 0; right: 15px;">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </form>
                            {% endif %}
                            {{ comment.text }}
                            <br>
                            <small>{{ comment.timestamp }}</small>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                <div style="margin:1em">
                    <form action="{% url 'comment_event' event.pk %}" method="POST">
                        {% csrf_token %}
                        <input title="event_id" name="event_id" value="{{ event.pk }}" hidden>
                        <label for="comment" class="sr-only">Comment:</label>
                        <input class="form-control" id="comment" name="text" autocomplete="off"
                               maxlength="250" type="text" required>
                        <button type="submit" class="btn btn-primary" style="width: 100%">Kommenter</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock extra %}
