{% extends 'standard_sidebar.html' %}
{% load widget_tweaks %}
{% load static %}
{% block text %}
    <h3>Endre/Lag hendelse</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Save" class="btn btn-primary">Lagre</button>
        <button class="btn btn-default pull-right" style="" onclick="history.back();">Tilbake</button>
    </form>
{% endblock text %}
{% block sidebar %}
    <h3>Noen tips:</h3>
    <br>
    <p>
        Alle hendelser må ha tittel, men alt annet er valgfritt. Tenk allikevel litt på hvordan det ser ut på forsiden
        hvis du lar den være markert som nyhet. For eksempel så ser det lite bra ut med dårlig/manglende bilde eller for
        lang tittel/ingress.
    </p>
    <p>
        Tittelen kan være opp til 150 bokstaver lang og ingressen opp til 350, men du slipper selvfølgelig å holde styr
        på det selv, feltene slutter å ta imot nye bokstaver når de når grensen.
    </p>
    <p>
        Tekstfeltet er for øyeblikket veldig simpelt, bare skriv/kopier inn vanlig/ren tekst.
    </p>
    <p>
        Bilder i de fleste formater og oppløsninger kan brukes, men vær oppmerksom på at forsiden ikke viser hele bildet
        hvis det er for smalt. Prøv også å finne en grei oppløsning, gjerne en plass mellom 800px og 1600px i bredde.
    </p>
    <p>
        Hvis det skal være et arrangement med påmelding så må dere velge start og slutttidspunkt. Det vil da dukke opp
        i arrangementet og evt. i bedpresslisten på forsiden (avhengig av om det er en bedriftspresentasjon eller ikke).
    </p>
    <p>
        Tidspunkt kan fylles ut ved hjelp av boksen som popper opp når dere velger et av feltene. Hvis den ikke kan
        brukes så er det mulig å fylle inn datoen manuelt. Formatet er da YYYY-MM-DD HH:MM, som f.eks. 2017-02-13 00:35.
    </p>
    <p>
        Vektingen skal <strong><u>KUN</u></strong> endres fra 0 når en eller flere hendelser skal tvinges øverst eller
        nederst på forsiden. Hendelsene blir først sortert fra høyest til lavest vekting, og så sortert etter kronologi
        for hendelser med samme vekting. Vektingen skal derfor settes tilbake til 0 igjen når et event ikke lenger er
        nødt til å være øverst eller nederst.
    </p>
    <p>
        Hvis man krysser av for utkast vil eventet kun være synlig med direkte link.
    </p>
    <p>
        Hvis man fjerner krysset på nyhet vil ikke hendelsen være synlig på forsiden.
    </p>
    <p>
        Hvis man fjerner krysset på synlig for alle vil kun påloggede kunne se hendelsen.
    </p>
    <p>
        Hvis man krysser av for å stenge avmeldingen når påmeldingen stenger så har man ikke mulighet for å melde seg av
        etter at påmeldingen er stengt.
    </p>
    <p>
        Hvis du ikke krysser av for å stenge avmeldingen så kan du velge antall timer før hendelsen starter at
        avmeldingen skal stenge eller så kan man la feltet stå tomt så blir standardverdien brukt.
    </p>
{% endblock sidebar %}
{% block script %}
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/locales/bootstrap-datetimepicker.no.js' %}"
            charset="UTF-8"></script>
    <script type="text/javascript">
        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    </script>
{% endblock script %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}