{% load event_extras %}
{% for event in object_list %}
    <div class="white-box space-above">
        <a href="{% url 'event' event.pk %}" style="color: black">
            <div class="remove-whitebox-padding" style="margin-bottom: 0">
                {% if event.image %}
                    <div class="event_thumb_image" style="max-height: 320px; overflow: hidden">
                        <img src="/uploads/{{ event.image }}"
                             alt="No image available"
                             width="100%">
                    </div>
                    <div class="image-info-overlay">
                        <div>
                        <span style="float: left">
                        {% if event.event_start and event.event_end %}
                            {{ event.event_start }}
                        {% endif %}
                        </span>
                            <span style="float: right">
                                    {{ event.location }}
                                </span>
                        </div>
                    </div>
                {% else %}
                    <div style="height: 20px"></div>
                {% endif %}
                <div style="clear: both">
                    {% for attendance in event.attendance_set.all %}
                        <div style="float: right; padding: 0 .5em;">
                            {% if attendance.signup_open %}
                                Åpen i {{ attendance.signup_end|timeuntil2 }}
                            {% elif attendance.signup_closed %}
                                Påmelding er stengt
                            {% else %}
                                Åpner om {{ attendance.signup_start|timeuntil2 }}
                            {% endif %}
                        </div>
                        <div style="padding: 0 .5em;">
                            {{ attendance.name }}:
                        </div>
                        <div class="progress" style="margin-bottom: 0">
                            <div class="progress-bar"
                                 style="min-width: 4em; width: {% if attendance.signup_has_opened %}
                                     {% widthratio attendance.get_signed|length attendance.max_participants 100 %}{% else %} 0 {% endif %}%">
                                {% comment %} Remove to hide attendance before event starts(Also remove the equivalent
                                comments in event.html
                                {% if attendance.signup_has_opened %}
                                {% endcomment %}
                                    {{ attendance.get_signed|length }}
                                    / {{ attendance.max_participants }}
                                    {% if attendance.get_waiting %}
                                        + {{ attendance.get_waiting|length }}
                                    {% endif %}
                                    {% if attendance.get_sorted_secondary %}
                                        + {{ attendance.get_sorted_secondary|length }}
                                    {% endif %}
                                {% comment %} Remove to hide attendance before event starts
                                {% else %}
                                    0 / {{ attendance.max_participants }}
                                {% endif %}
                                {% endcomment %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <h3>{{ event.title }}</h3>
        </a>
        <p>{{ event.ingress }}</p>
    </div>
{% endfor %}
