{% extends 'events/dashboard_sidebar.html' %}
{% load event_extras %}
{% block unstyled_text %}
    {% for attendance in event.attendance_set.all %}
        <div class="white-box" id="{{ attendance.pk }}">
            <a name="attendance{{ attendance.id }}" class="anchor"></a>
            <h1>{{ attendance.name }}</h1>
            <table>
                <tr>
                    <th>Navn</th>
                    <th>Trinn</th>
                    <th>Spesialisering</th>
                    <th>Kjønn</th>
                    <th>Matpreferanser</th>
                    <th>Epost</th>
                </tr>
                {% for participant in attendance.get_signed|dictsort:'get_full_name' %}
                    <tr>
                        <td>{{ participant.get_full_name }}</td>
                        <td>{{ participant.get_grade }}</td>
                        <td>{{ participant.specialization }}</td>
                        <td>{{ participant.gender }}</td>
                        <td>{{ participant.food_preferences }}</td>
                        <td>
                            <a href="mailto:{{ participant.username }}@stud.ntnu.no">
                                {{ participant.username }}@stud.ntnu.no
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        <div style="text-align: center; padding-top: 15px">
            <a class="btn btn-primary" href="mailto:
            {% for participant in attendance.get_signed %}
                {{ participant.username }}@stud.ntnu.no,
            {% endfor %}
            ">Mail påmeldte</a>
        </div>
        </div>
    {% endfor %}
{% endblock %}
{% block sidebar_extra %}
        <div style="text-align: center">

    <h2>Påmeldinger</h2>
    {% for attendance in event.attendance_set.all %}
        <a href="#attendance{{ attendance.id }}">{{ attendance.name }}</a>
    {% endfor %}
    <br>
        <a class="btn btn-primary" href="{% url 'participants_csv' event.pk %}">Eksporter</a>
        <a class="btn btn-primary" href="mailto:
            {% for attendance in event.attendance_set.all %}
                {% for participant in attendance.get_signed %}
                    {{ participant.username }}@stud.ntnu.no,
                {% endfor %}
            {% endfor %}
        ">Mail alle påmeldte</a>
    </div>

{% endblock %}
{% block link %}
    <style>
        td, th {
            padding: 0 8px;
        }
    </style>
{% endblock %}